/* 
 * ==|== normalize ==========================================================
 */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0; font-size: 13px; line-height: 1.231; }
body, button, input, select, textarea { font-family: sans-serif; color: #222; }

::-moz-selection {  }
::selection {  }

a { color: #6FB353; text-decoration: none; }
a:visited { color: #6FB353; }
a:hover { color: #93d07a;  }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; *overflow: visible; }
table button, table input { *overflow: auto; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* ==|== primary styles ===================================================== */


body {
	background: url('../images/bg.png');
	font-family: 'helvetica neue', helvetica, arial, sans-serif;
}
#main, header {
	background: #fff;
}

/* FONTS */

h1, h2, h3, h4, h5, h6 {
	color: #000;
	padding: 0 0 15px 0;
	margin: 0;
	letter-spacing: -0.055em;
}
h1 {
	font-size: 42px;
}
h2 {
	font-size: 36px;
	padding-left: 50px;
	background: url('../images/h2-bg.png') left 19px no-repeat;
	padding: 15px 0 15px 46px;
}
h3 {
	font-size: 26px;
}
h4 {
	font-size: 26px;
	color: #6fb353;
}
h5 {
	font-size: 22px;
}
h6 {
	font-size: 18px;
	color: #000;
	letter-spacing: -0.045em;
}
.breakout {
	color: #6fb353;
	font-size: 20px;
	line-height: 28px;
	font-style: italic;
	padding: 15px 0 30px 0;
	letter-spacing: -0.045em;
}
p {
	margin: 0 0 24px 0;
}
#left-col p, .col12 p {
	font-family: georgia, serif;
	font-size: 16px;
	line-height: 24px;
	color: #444;
}
.columns-2 {
	-moz-column-count: 2;
	-moz-column-gap: 20px;
	-webkit-column-count: 2;
	-webkit-column-gap: 20px;
	column-count: 3;
	column-gap: 20px;
	
}
.columns-3 {
	-moz-column-count: 3;
	-moz-column-gap: 20px;
	-webkit-column-count: 3;
	-webkit-column-gap: 20px;
	column-count: 3;
	column-gap: 20px;
}

/* HEADER STYLES */

header {
	height: 92px;
}
#logo h1 {
	margin: 0;
	padding: 0;
}
#logo a {
	background: url('../images/logo.png') bottom center no-repeat;
	width: 224px;
	height: 55px;
	padding: 15px 0 0 0;
}

/* SOCIAL NAVIGATION */

#social-nav {
	float: right;
	margin: -65px 0 0 0;
	padding: 0;
}
#social-nav li {
	float: left;
	margin: 0 0 0 8px;
	padding: 0 10px 0 0;
	list-style: none;
}
#social-nav li a {
	color: #999;
	font-size: 12px;
}
#social-nav li a:hover {
	color: #444;
}
#social-nav li.try a, #social-nav li.download a {
	padding: 8px 8px 3px 8px;
	font-size: 11px;
	font-weight: bold;
	border-radius: 0 0 5px 5px;
}
#social-nav li.try a {
	color: #444;
	border: 1px solid #ccc;
	border-top: none;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* IE10+ */
	background: linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
}
#social-nav li.try a:hover {
	background: #e5e5e5; /* Old browsers */
	background: -moz-linear-gradient(top, #e5e5e5 0%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e5e5e5), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #e5e5e5 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #e5e5e5 0%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #e5e5e5 0%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(top, #e5e5e5 0%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
#social-nav li.download a {
	border: 1px solid  #5b9642;
	border-top: none;
	color: #fff;
	background: #6fb353; /* Old browsers */
	background: -moz-linear-gradient(top, #6fb353 0%, #5b9642 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6fb353), color-stop(100%,#5b9642)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #6fb353 0%,#5b9642 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #6fb353 0%,#5b9642 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #6fb353 0%,#5b9642 100%); /* IE10+ */
	background: linear-gradient(top, #6fb353 0%,#5b9642 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6fb353', endColorstr='#5b9642',GradientType=0 ); /* IE6-9 */
}
#social-nav li.download a:hover {
	background: #5b9642; /* Old browsers */
	background: -moz-linear-gradient(top, #5b9642 0%, #6fb353 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5b9642), color-stop(100%,#6fb353)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #5b9642 0%,#6fb353 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #5b9642 0%,#6fb353 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #5b9642 0%,#6fb353 100%); /* IE10+ */
	background: linear-gradient(top, #5b9642 0%,#6fb353 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5b9642', endColorstr='#6fb353',GradientType=0 ); /* IE6-9 */
}


/* NAVIGATION DROPDOWN */

#main-nav {
	float: right;
	margin: -25px 0 0 0;
	padding: 0;
}
#main-nav li {
	float: left;
	list-style: none;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	margin: 0 0 0 3px;
	position: relative;
	display: block;
}
#main-nav li.divider {
	color: #6fb353;
	font-size: 18px;
	position: relative;
	top: -4px;
}
#main-nav li a {
	color: #000;
	padding: 10px 10px 8px 10px;
	border: 1px solid #fff;
} 
#main-nav li a:hover, #main-nav li.current a {
	color: #6fb353;
}

#main-nav li ul {
	display: none;
}
#main-nav li.dd:hover a {
	color: #000;
	background: #fcfcfc;
	border: 1px solid #ddd;
	border-radius: 5px 5px 0 0;
	border-bottom: 1px solid #fcfcfc;
	position: relative; 
	z-index: 1000; 
}
#main-nav li.dd:hover a:hover {
	color: #6fb353;	
}

	/* SECOND LEVEL */
	
	#main-nav li.dd.left:hover ul {
		display: block;
		position: absolute;
		z-index: 999;
		float: none;
		background: #fcfcfc;
		border: 1px solid #ddd;
		top: 8px;
		margin: 15px 0 0 0;
		padding: 0;
		border-radius: 0 5px 5px 5px;
		-webkit-box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, .1);
		-moz-box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, .1);
		box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, .1);
	}
	#main-nav li:hover ul li {
		margin: 0;
		padding: 0;
		float: none;
		display: block;
		border: none;
	}
	#main-nav li.dd:hover ul li a {
		padding: 6px 10px;
		color: #000;
		text-transform: none;
		float: none;
		font-weight: normal;
		white-space: nowrap;
		display: block;
		border: none;
		border-radius: 0px;
	}
	#main-nav li.dd:hover ul li:first-child a {
		border-radius: 0 5px 0 0 ;
	}
	#main-nav li.dd:hover ul li:last-child a {
		border-radius: 0 0 5px 5px;
	}
	#main-nav li:hover ul li a:hover {
		background: #fff;
	}

/* GLOBAL STYLES */

#main {
	padding: 20px 0 40px 0;
}
#left-col {
	margin: 0;
}

/* SLIDER STYLES */

#slider {
	background: url('../images/slider-bg.png');
	height: 288px;
	padding: 0;
	margin: 0 0 0 0;
}
#slider .container {
	background: url('../images/slider-container-bg.png');
	height: 288px;
	padding: 0;
}
#slider ul {
	margin: 0;
	padding: 0;
}
#slider ul li {
	list-style: none;
	margin: 0;
	padding: 0;
}
	
	/* FLEX SLIDER OVERRIDES */
	
	.flex-container, .flexslider {
		background: none;
		border: none;
		padding: 0;
		margin: 0;
	}
	.flex-control-nav {
		bottom: 8px;
	}
	.flex-direction-nav li a {
		height: 137px;
		margin-top: -48px;
	}



/* PAGE TITLE STYLES */

#page-title {
	height: 62px;
	background: url('../images/page-title-bg.png') top center no-repeat;
}
#page-title h2 {
	color: #fff;
	font-size: 26px;
	padding-left: 0;
	background: none;
}
#page-nav {
	float: right;
	margin: -37px 0 0 0;
	padding: 0;
}
#page-nav li {
	list-style: none;
	margin: 0 0 0 10px;
	float: left;
	font-size: 12px;
}
#page-nav li a {
	color: #fff;
	padding: 5px 10px;
	border-radius: 5px;
}
#page-nav li a:hover, #page-nav li.current a {
	background: #48872e;
}

/* BREADCRUMB STYLES */

#breadcrumbs ul {
	margin: 3px 0 0 0;
	padding: 0 0 35px 0;
}
#breadcrumbs ul li {
	float: left;
	color: #999;
	list-style: none;
	padding: 5px;
	background: #fcfcfc;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}
#breadcrumbs ul li:first-child {
	margin-left: 0;
	border-radius: 5px 0 0 5px;
	background: #f5f5f5;
	border: 1px solid #ddd; 
	color: #999;
	padding: 5px 10px;
}
#breadcrumbs ul li:nth-child(2) {
	padding: 5px 5px 5px 10px;
}
#breadcrumbs ul li:last-child {
	border-radius: 0 5px 5px 0;
	border-right: 1px solid #ddd;
	padding: 5px 10px 5px 5px;
}
#breadcrumbs ul li a {
	font-size: 12px;
	color: #999;
}
#breadcrumbs ul li a:hover {
	color: #6fb353;
}
#breadcrumbs ul li span {
	margin: 0 0 0 6px;
}

/* HOMEPAGE */

.big-button {
	text-align: center;
}
.big-button a {
	font-size: 22px;
	padding: 15px 0;
	width: 300px;
	margin: 30px auto 5px auto;
	display: block;
	text-align: center;
}
.big-button p {
	font-style: italic;
	color: #9f9f9f !important;
	font-family: georgia, serif;
	font-size: 16px;
}
.big-button p a {
	padding: 0;
	display: inline;
	font-size: 16px;
}
.stb {
	position: relative;
	left: 6px;
}
.stb-top {
	background: url('../images/sidebox-top.png');
	width: 300px;
	height: 39px;
}
.steps-to-buy {
	background: url('../images/sidebox-middle.png');
	width: 300px;
	height: 352px;
}
.stb-bottom {
	background: url('../images/sidebox-bottom.png');
	width: 300px;
	height: 374px;
}
.steps-to-buy p {
	padding: 5px 48px 5px 45px;
	margin: 0;
}
.sidebar-title a {
	position: relative;
	z-index: 1;
	padding: 6px 20px;
	background: #6FB353;
	border-radius: 0px 5px 5px 0;
	display: inline-block;
	color: #fff;
	font-size: 24px;
	box-shadow: 0 2px 4px 2px rgba(0,0,0,0.1);
	top: -55px;
	left: 45px;
	margin: 0;
	font-weight: bold;
}
.sidebar-title a:hover {
	background: #82c365;
}
.sidebar-title {
	position: relative;
	height: 55px;
}
.sidebar-title .install {
	width: 60px;
	height: 61px;
	background: url('../images/installation-sidebar.png');
	position: relative;
	z-index: 100;
}
.sidebar-title .training {
	width: 60px;
	height: 61px;
	background: url('../images/training-sidebar.png');
	position: relative;
	z-index: 100;
}
.sidebar-title .support {
	width: 60px;
	height: 61px;
	background: url('../images/support-sidebar.png');
	position: relative;
	z-index: 100;
}


/* PLANS & PRICING */

hgroup.big-centered h1 {
	background: none;
	padding: 10px 0 3px 0;
	margin: 0;
	text-align: center;
}
hgroup.big-centered h2 {
	background: none;
	padding: 0 0 30px 0;
	font-family: georgia, sans-serif;
	font-style: italic;
	color: #666;
	text-align: center;
	font-size: 14px;
	font-weight: normal;
}
.plans {
	background: url(../images/plans-bg.png) left -30px no-repeat;
	width: 978px;
	height: 298px;
	margin: 30px 0 40px 0;
}
.plan {
	width: 205px;
	height: 252px;
	float: left;
	padding: 0;
	margin: 0;
	border: 1px solid #c5c5c5;
	background: #f7f7f7;
	position: relative;
}
.plan.mashup {
	border-right: none;
	background: #f7f7f7 url('../images/ds-right.png') top right repeat-y;
}
.plan.enterprise {
	border-left: none;
	background: #f7f7f7 url('../images/ds-left.png') top left repeat-y;
}
.plan.standard {
	width: 226px;
	height: 292px;
	margin: -20px 0 0 0;
	border: 3px solid #6aac4f;
	background: #fff;
}
.plan.mashup {
	margin: 0 0 0 171px;
}
.plan hgroup {
	text-align: center;
}
.plan hgroup h1 {
	font-size: 18px;
	color: #666;
	padding: 15px 0 0 0;
}
.plan hgroup h2 {
	font-size: 13px;
	color: #6aac4f;
	background: none;
	padding: 0;
}
.plan hgroup h3 {
	font-size: 10px;
	color: #666;
	margin: 0;
	padding: 0;
	font-weight: normal;
	font-style: italic;
}
.plan.standard hgroup h1 {
	font-size: 24px;
	color: #000;
}
.plan.standard hgroup h2 {
	font-size: 16px;
}
.plan ul {
	margin: 0;
	padding: 5px 20px;
}
.plan.mashup ul {
	margin: 0;
	padding: 20px 20px;
}
.plan.standard ul {
	margin: 0;
	padding: 15px 20px;
}
.plan ul li {
	color: #666;
	font-size: 11px;
	font-weight: bold;
	list-style: none;
	height: 25px;
	line-height: 25px;
	margin: 10px 0;
}
.plan.standard ul li {
	height: 30px;
	line-height: 30px;
	margin: 10px 0;
	font-size: 12px;
}
.plan .btn {
	padding: 5px 40px;
	font-size: 14px; 
	position: absolute;
	bottom: 20px;
	left: 23px;   
}
.plan.standard .btn {
	padding: 6px 50px;
}
.plan ul li span {
	float: left;
}
.plan ul li span.details {
	font-size: 10px;
	font-weight: normal;
	color: #6AAC4F;
	font-style: italic;
	line-height: 11px;
	margin: -6px 0 0 33px;
}

.icon {
	height: 25px;
	width: 25px;
	padding-left: 8px;
}
.standard .icon {
	height: 30px;
	width: 30px;
	padding-left: 10px;
}
.icon.install {
	background: url('../images/icon-install-small.png') left top no-repeat;
}
.icon.training {
	background: url('../images/icon-training-small.png') left top no-repeat;
}
.icon.support {
	background: url('../images/icon-support-small.png') left top no-repeat;
}
.standard .icon.install {
	background: url('../images/icon-install.png') left top no-repeat;
}
.standard .icon.training {
	background: url('../images/icon-training.png') left top no-repeat;
}
.standard .icon.support {
	background: url('../images/icon-support.png') left top no-repeat;
}

/* FOOTER STYLES */

footer {
	background: url('../images/b-shadow.png') top center no-repeat;
}
#footer-logo h1 {
	margin: 0;
	padding: 0;
}
#footer-logo h1 a {
	background: url('../images/footer-logo.png') bottom center no-repeat;
	width: 155px;
	height: 39px;
	position: relative;
	top: 30px;
}
#footer-nav {
	float: right;
	padding: 0;
	margin: 6px 0 0 0;
}
#footer-nav li {
	float: left;
	padding: 0 0 0 30px;
	list-style: none;
	margin: 0;
	color: #2d5a1a;
	text-shadow: 0 1px 0 #9ad981;
	font-weight: bold;
	position: relative;
	font-size: 12px;
}
#footer-nav li a {
	color: #2d5a1a;
	text-shadow: 0 1px 0 #9ad981;
	font-weight: bold;
	text-transform: uppercase;
}
#footer-nav li a:hover {
	color: #fff;
	text-shadow: none;
}
#footer-nav li ul {
	padding: 0;
	margin: 0;
	position: absolute;
	top: 25px;
	left: 41px;
}
#footer-nav li ul li {
	margin: 0;
	padding: 3px 0;
}
#footer-nav li ul li a {
	font-weight: normal;
	text-transform: none;
	white-space: nowrap;
}
footer hr {
	margin-top: 200px;
	border: none;
	background: #2d5a1a;
	height: 1px;
	box-shadow: 0 1px 0 #9ad981;
}
footer p {
	text-align: center;
	color: #2d5a1a;
	font-size: 12px;
}

/* TOUR STYLES */

#tour-bg {
	background:#fcfcfc;
	border-bottom: 1px solid #eee;
	width: 10000px;
	height: 200px;
	margin: -20px 0 -170px -5000px;
}	
ul#tour {
	float: right;
	padding: 0;
	margin: 0;
}
ul#tour li {
	list-style: none;
	margin: 20px 0;
}	
#tourwrap h2 {
	font-size:16px;
}
#tournav {
	z-index:10;
	position: relative;
}	
#tournav .tour-option {
	margin: 0;
	padding: 15px 12px 15px 60px;
	border:1px solid #ccc;
	border-bottom: none;
	background-color: #fff;
}
#tournav .tour-option span {
	display: block;
	margin-top: 2px;
}
#share {
	background: url('../images/tour-share-small.png') 13px 20px no-repeat;
}
#find {
	background: url('../images/tour-search-small.png') 13px 20px no-repeat;
}
#communicate {
	background: url('../images/tour-communicate-small.png') 13px 20px no-repeat;
}
#expand {
	background: url('../images/tour-expand-small.png') 13px 20px no-repeat;
}
#tournav .tour-title.top {
	border-radius: 5px 5px 0 0;
	padding: 8px 0;
	text-align: center;
	font-weight: bold;
	font-family: 'helvetica neue', helvetica, sans-serif;
	height: 16px;
	border: 1px solid  #5b9642;
	color: #fff;
	background: #6fb353; /* Old browsers */
	background: -moz-linear-gradient(top, #6fb353 0%, #5b9642 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6fb353), color-stop(100%,#5b9642)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #6fb353 0%,#5b9642 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #6fb353 0%,#5b9642 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #6fb353 0%,#5b9642 100%); /* IE10+ */
	background: linear-gradient(top, #6fb353 0%,#5b9642 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6fb353', endColorstr='#5b9642',GradientType=0 ); /* IE6-9 */
}
#tournav .tour-title.top h5 {
	color: #fff;
	font-size: 13px;
}
#tournav .tour-option.bottom {
	border-radius: 0 0 5px 5px;
	border-bottom: 1px solid #ccc;
}
#tournav .tour-option:hover, #tournav .tour-option.current {
	background-color: #fdf2c6;
	cursor: pointer;
}
#tournav a {
	display:inline;
	font-weight:bold;
	text-decoration:none;
}

#tournav span {
	font-size:11px;
}
#tour li h1 {
	text-align: left;
	padding-left: 330px;
	height: 200px;
	margin: -50px 0 50px 0;
	padding-top: 40px;
}
#tour li h1 span {
	font-family: georgia, 'times new roman', serif;
	font-style: italic;
	font-size:22px;
	color:#6FB353;
	letter-spacing: 0em;
	font-weight: normal;
	display: block;
	font-size: 18px;
	line-height: 24px;
	margin: 15px 0 0 0;
}
#tour li.find h1 {
	background: url('../../media/tour/find-main.png') left top no-repeat;
}
#tour li.communicate h1 {
	background: url('../../media/tour/communicate-main.png') left top no-repeat;
}
#tour li.share h1 {
	background: url('../../media/tour/share-main.png') left top no-repeat;
}
#tour li.expand h1 {
	background: url('../../media/tour/expand-main.png') left top no-repeat;
}
.copy {
	margin: 20px 0;
	height: 250px;
}
.copy p {
	width: 300px;
	vertical-align: middle;
	color:#666666;
	font-size: 13px;
	line-height: 2;
}
.copy p span{ 
	font-size:20px;
	font-weight: bold;
	letter-spacing: -0.045em;
	display: block;
	color:black;
	line-height: 1;
	margin: 0 0 15px 0;
	font-family: 'helvetica neue', helvetica, arial, sans-serif;
}
.copy img {
	margin: -10px 0 0 0;
	width: 400px;
	height: 200px;
}
.copy img, .copy.right p {
	float: right;
}
.copy.right img, .copy.left p {
	float: left;
}
.tour-cta {
	clear: both;
	margin: 25px 0 0 0;
	border-top: 1px solid #eee;
	padding: 25px 0 0 0;
}
.tour-cta .above {
	margin: 0 0 15px 0;
}

/* FEATURES STYLES */

div.hr {
	border-top: 1px solid #eee;
	padding: 15px 0 0 0;
	margin: 20px 0;
}
.more-features ul li {
	font-size: 14px;
	line-height: 21px;
	margin-top: 5px;
}

/* FORM STYLES */
 
form#contact-us {
		
}
form *:focus {
	outline: none;
}
form label {
	display: block;
	font-weight: bold;
	padding: 15px 0 4px 0;
	margin: 0;
}
form .field {
	border-radius: 5px;
	padding: 6px 12px;
	font-size: 16px;
	font-family: 'helvetica neue', helvetica, arial, sans-serif;
	border: 1px solid #ccc;
	width: 40%;
	margin: 0;
}
form .field.full {
	width: 80%;
}
form textarea {
	height: 120px;
}
form .field:focus {
	border: 1px solid #6FB353;
}

/* BUTTONS */

.btn {
	color: #fff;
	padding: 6px 15px;
	font-weight: bold;
	text-shadow: 0px 1px 0px #477e32;
	border: 2px solid #5c9843;
	background: -moz-linear-gradient(top, #81ba6a 0%, #81ba6a 50%, #5c9843 51%, #5c9843 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#81ba6a), color-stop(50%,#81ba6a), color-stop(51%,#5c9843), color-stop(100%,#5c9843)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #81ba6a 0%,#81ba6a 50%,#5c9843 51%,#5c9843 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #81ba6a 0%,#81ba6a 50%,#5c9843 51%,#5c9843 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #81ba6a 0%,#81ba6a 50%,#5c9843 51%,#5c9843 100%); /* IE10+ */
	background: linear-gradient(top, #81ba6a 0%,#81ba6a 50%,#5c9843 51%,#5c9843 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#81ba6a', endColorstr='#5c9843',GradientType=0 ); /* IE6-9 */ */
	-webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, .3);
	box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, .3);
	border-radius: 5px;
}
.btn:hover {
	color: #fff;
	border: 2px solid #6aae4c;
	background: #8dc179; /* Old browsers */
	background: -moz-linear-gradient(top, #8dc179 0%, #8dc179 50%, #6aae4c 51%, #6aae4c 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8dc179), color-stop(50%,#8dc179), color-stop(51%,#6aae4c), color-stop(100%,#6aae4c)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #8dc179 0%,#8dc179 50%,#6aae4c 51%,#6aae4c 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #8dc179 0%,#8dc179 50%,#6aae4c 51%,#6aae4c 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #8dc179 0%,#8dc179 50%,#6aae4c 51%,#6aae4c 100%); /* IE10+ */
	background: linear-gradient(top, #8dc179 0%,#8dc179 50%,#6aae4c 51%,#6aae4c 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8dc179', endColorstr='#6aae4c',GradientType=0 ); /* IE6-9 */
}
.btn:active {
	border: 2px solid #5c9843;
	background: -moz-linear-gradient(top, #81ba6a 0%, #81ba6a 50%, #5c9843 51%, #5c9843 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#81ba6a), color-stop(50%,#81ba6a), color-stop(51%,#5c9843), color-stop(100%,#5c9843)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #81ba6a 0%,#81ba6a 50%,#5c9843 51%,#5c9843 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #81ba6a 0%,#81ba6a 50%,#5c9843 51%,#5c9843 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #81ba6a 0%,#81ba6a 50%,#5c9843 51%,#5c9843 100%); /* IE10+ */
	background: linear-gradient(top, #81ba6a 0%,#81ba6a 50%,#5c9843 51%,#5c9843 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#81ba6a', endColorstr='#5c9843',GradientType=0 ); /* IE6-9 */
	position: relative;
	top: 1px;
	box-shadow: none;
}
.btn:visited {
	color: #fff;
}
.plan .btn:active {
	top: 19px;
}
.plan.mashup .btn:active {
	top: 36px;
}
.plan.standard .btn:active {
	top: 12px;
}
/* ==|== grid system (978.gs) ======================================== */

div.container { width: 978px; margin: 0px auto; }

div.row { height: 1%; }
div.row-end { clear: both; font: 1px/1px sans-serif; height: 1px; overflow: hidden; }

div.col1, div.col2, div.col3, div.col4, div.col5, div.col6, div.col7, div.col8, div.col9, div.col10, div.col11, div.col12 { float: left; margin-left: 30px; }
div.col1:first-child, div.col2:first-child, div.col3:first-child, div.col4:first-child, div.col5:first-child, div.col6:first-child, div.col7:first-child, div.col8:first-child, div.col9:first-child, div.col10:first-child, div.col11:first-child, div.col12:first-child { margin-left: 0px; }
div.col1 { width: 54px; }
div.col2 { width: 138px; }
div.col3 { width: 222px; }
div.col4 { width: 306px; }
div.col5 { width: 390px; }
div.col6 { width: 474px; }
div.col7 { width: 558px; }
div.col8 { width: 642px; }
div.col9 { width: 726px; }
div.col10 { width: 810px; }
div.col11 { width: 894px; }
div.col12 { width: 978px; }

/* ==|== non-semantic helper classes ======================================== */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


/* ==|== media queries ====================================================== */

@media only screen and (min-width: 480px) {


}

@media only screen and (min-width: 768px) {

}



/* ==|== print styles ======================================================= */
 
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
