<div class="col12">
	<img alt="Enterprise Media Library" src="$home/media/features/eml_banner.jpg" style="margin: 20px 0px;">
	<aside class="breakout">
		<strong> In EnterMedia "applications," form the core</strong> of the installation and in addition to that you can add extensible applications. With EnterMedia 8 we finally have an out of the box solution that addresses most of our customers needs. After over 10 years of consulting in the Digital Asset Management arena we have developed a platform that addresses the variety of tasks required for an enterprise level server.
	</aside>
	<section class="columns-2">
		<p>
			EnterMedia 8 ships with three applications that form the core of your installation. Library, Share, and Manager. Library is the behemoth. We have robust metadata tables that enable you to quickly find the media you are looking for. Share is like a light weight version of Library. It helps you set up a new website quickly so you can share your media easily. Manager lets you control the infrastructure of your installation, adding catalogs and creating new instances easily.
		</p>
		<p>
			What EnterMedia 8 does is consolidate our past ten years of private consulting services where we have customized our installations to the clients specifications. Since then, we have addressed so many things, but there has been some overlap. We have taken those features that are the most commonly requested, and built a release around it, and we think you are going to enjoy using it.
		</p>
	</section>
	
	<div class="hr" style="margin: 20px 0;"></div>
	<div class="row">
		<div class="col4">
			<h5> Enterprise Media Library (EML)</h5>
			<img style="margin-bottom: 15px;" src="$home$themeprefix/images/features-eml.png" />
			<p>
				The Enterprise Media Library application is where you manage your assets, and it is feature packed to aid you in administration. You can setup permissions and enable security to control your content. You can search for media and edit metadata at the deepest levels. A lot of companies come to us asking how much it will cost to expand their installation, and many times they don&#39;t realize they have those capabilities already. We have a new user interface that makes EML easy and pleasant to work with. Library is robust organizing tool, and the best way to learn more about it is to contact us.
			</p>
		</div>
		<div class="col4">
			<h5> EnterMedia Share</h5>
			<img style="margin-bottom: 15px;" src="$home$themeprefix/images/features-emshare.png" />
			<p>
				EnterMedia share is a web-based media sharing and distribution application. It is like a light weight version of the library application that enables you to quickly share your content online. Share looks like a website. You can change your logo, you can change the color scheme. So, you can make it your own. It allows people to comment, share to Facebook, upload, view assets in galleries, and play videos.
			</p>
			</div>
		<div class="col4">
			<h5> EnterMedia Manager</h5>
			<img style="margin-bottom: 15px;" src="$home$themeprefix/images/features-manager.png" />
			<p>
				The manager application helps you get an overview of your installation, where can manage and install your catalogs.
			</p>
		</div>
	</div>
	<div class="row-end"></div>
	<div class="hr"></div>
	<h3>More Features</h3>
	<div class="row more-features">
		<div class="col6">
			<ul>
				<li>
					<strong>Enterprise ready</strong> Open source digital asset management solution used to track, manage and share digital assets online.
				</li>
				<li>
					<strong>Platforms Supported</strong> - Linux, Windows, OS X, Solaris
				</li>
				<li>
					<strong>Unlimited Users</strong> - No software restrictions
				</li>
				<li>
					<strong>100% Web Based</strong> - Works with any supported browser
				</li>
				<li>
					<strong>Client Licenses</strong> - No Client License needed
				</li>
				<li>
					<strong>Drag and Drop</strong> - Users can drag and drop files from other applications directly into EnterMedia and have records created for them. (WebDav)
				</li>
				<li>
					<strong>Web Content Management integration</strong> - Brand your DAM solution for your needs using EnterMedia Themes
				</li>
				<li>
					<strong>Versioning </strong> - automatic version storage for edited files
				</li>
				<li>
					<strong>Storage for</strong> - images, videos, audios, documents, HTML, CSS, XML and more
				</li>
				<li>
					<strong>Video Support</strong> - Uploaded videos are encoded into a compatible format, allowing in-browser video previews
				</li>
				<li>
					<strong>Audio Support</strong> - Play audio files in your browser directly from EnterMedia
				</li>
				<li>
					<strong>XMP, IPTC Support</strong> - EnterMedia will extract any available meta-data for you
				</li>
				<li>
					<strong>Multi-Record Editing</strong> - Edit meta-data for several records at once
				</li>
				<li>
					<strong>Multiple Catalogs</strong> -&nbsp; EnterMedia allows you to combine more than one catalog.&nbsp; Each "catalog" is essentially an entire instance of the OpenEdit Archive and can be customized with its own properties, views, layouts, and more.
				</li>
				<li>
					<strong>Simple Search and Advanced Search</strong> - Searches through 100,000's of assets across multiple catalogs in milliseconds. Displays recommended and related search terms.
				</li>
								<li>
					<strong>Dynamic Search Query Builder</strong> - Add any available meta-data field to your search query on-the-fly.
				</li>
			</ul>
		</div>
		<div class="col6">
			<ul>
				<li>
					<strong>Thesaurus</strong> - searches and collects synonyms. Displays recommended and related search terms.
				</li>
				<li>
					<strong>Saved Searches</strong> - Save common search queries and run them any time.
				</li>
				<li>
					<strong>Granular Permissions</strong> - Giving you more control over your Digital Asset Management solution
				</li>
				<li>
					<strong>Display</strong> - List or Gallery Views
				</li>
				<li>
					<strong>LDAP Support</strong> - authenticate users with a pre-existing LDAP server or use EnterMedia's own user and group system
				</li>
				<li>
					<strong>Watermarking</strong> - protect your copyrighted images
				</li>
				<li>
					<strong>Cropping, Scaling, and Rotating</strong> - basic image manipulation tools
				</li>
				<li>
					<strong>Batch Upload/Download</strong> - Upload entire collections at once
				</li>
				<li>
					<strong>Drag-and-Drop Upload Interface</strong> - makes adding assets even easier
				</li>
				<li>
					<strong>Immediate download of originals and zipped assets</strong>
				</li>
				
				<li>
					<strong>Multi-Language Support</strong>
				</li>
				<li>
					<strong>Image Orientation Detection:</strong> EnterMedia will check for information about the orientation of your images, as well as allow you to adjust the orientation yourself
				</li>
				<li>
					<strong>PDF Previews</strong> - preview any page of a multi-page PDF document
				</li>
				<li>
					<strong>Image/Document Conversions</strong> - Hundreds of standard conversion formats: <a href="http://www.imagemagick.org/script/formats.php">ImageMagick</a> + Adobe Formats
				</li>
				<li>
					<strong>Video Conversions</strong> - Create Flash previews of many <a href="http://ffmpeg.org/">FFMPEG</a> compatible formats
				</li>
				<li>
					<strong>Online Player for MP3 Audio</strong> - Support for conversions using <a href="http://lame.sourceforge.net/">LAME</a> encoder
				</li>
				<li>
					OpenEdit software and releases are listed under GNU Lesser General Public License
				</li>
			</ul>
		</div>
	</div>
</div>
