<div class="col12">
	<aside class="breakout"> <strong> Entermedia's meets the complex requirements and standards of an enterprise level media server</strong> </aside> 

	<a name="share">&nbsp;</a> <img src="$home$themeprefix/images/features-share.png" style="margin-bottom: 20px;" />
	<p>EnterMedia share is a web-based media sharing and distribution portal. Share looks like a website. You can change your logo, you can change the color scheme. So, you can make it your own. It allows people to comment, share to Facebook, upload, view assets in galleries, and play videos.</p>
	<div class="hr" style="margin: 20px 0;">
		&nbsp;</div>
	<a name="manager">&nbsp;</a> <img src="$home$themeprefix/images/features-manager.png" style="margin-bottom: 20px;" />
	<h5>
		EnterMedia Manager</h5>
	<p>
With the manager application you get a top-down view of your system, giving you the confidence that comes with the knowledge of having total control of your installation.
	</p>
	<p>
		Once you initiate a new catalog, you can quickly add an instance of the Enterprise Media Library, and then a Share website to distribute your content. With just a few clicks you&#39;ll be up and running, and ready to upload your media. 
	</p>
	<div class="row-end">
		&nbsp;</div>
	<div class="hr">
		&nbsp;</div>
	<h3>
		More Features</h3>
	<div class="row more-features">
		<div class="col6">
			<ul>
				<li>
					<strong>Enterprise ready</strong> Open source digital asset management solution used to track, manage and share digital assets online.</li>
				<li>
					<strong>Platforms Supported</strong> - Linux, Windows, OS X, Solaris</li>
				<li>
					<strong>Unlimited Users</strong> - No software restrictions</li>
				<li>
					<strong>100% Web Based</strong> - Works with any supported browser</li>
				<li>
					<strong>Client Licenses</strong> - No Client License needed</li>
				<li>
					<strong>Rest API</strong> - For third party applications to interact with EnterMedia</li>
				<li>
					<strong>Scalability</strong> - Clustering, Fail-over and computer distribution</li>
				<li>
					<strong>Drag and Drop</strong> - Users can drag and drop files from other applications directly into EnterMedia and have records created for them. (WebDav)</li>
				<li>
					<strong>Web Content Management integration</strong> - Brand your DAM solution for your needs using EnterMedia Themes</li>
				<li>
					<strong>Versioning </strong> - automatic version storage for edited files</li>
				<li>
					<strong>Storage for</strong> - images, videos, audios, documents, HTML, CSS, XML and more</li>
				<li>
					<strong>Video Support</strong> - Uploaded videos are encoded into a compatible format, allowing in-browser video previews</li>
				<li>
					<strong>Audio Support</strong> - Play audio files in your browser directly from EnterMedia</li>
				<li>
					<strong>XMP, IPTC Support</strong> - EnterMedia will extract any available meta-data for you</li>
				<li>
					<strong>Multi-Record Editing</strong> - Edit meta-data for several records at once</li>
				<li>
					<strong>Multiple Catalogs</strong> -&nbsp; EnterMedia allows you to combine more than one catalog.&nbsp; Each "catalog" is essentially an entire instance of the OpenEdit Archive and can be customized with its own properties, views, layouts, and more.</li>
				<li>
					<strong>Simple Search and Advanced Search</strong> - Searches through 100,000&#39;s of assets across multiple catalogs in milliseconds. Displays recommended and related search terms.</li>
			</ul>
		</div>
		<div class="col6">
			<ul>
				<li>
					<strong>Thesaurus</strong> - searches and collects synonyms. Displays recommended and related search terms.</li>
				<li>
					<strong>Saved Searches</strong> - Save common search queries and run them any time.</li>
				<li>
					<strong>Dynamic Search Query Builder</strong>&nbsp;- Add any available meta-data field to your search query on-the-fly.</li>
				<li>
					<strong>Granular Permissions</strong> - Giving you more control over your Digital Asset Management solution</li>
				<li>
					<strong>Display</strong> - List or Gallery Views</li>
				<li>
					<strong>LDAP Support</strong> - authenticate users with a pre-existing LDAP server or use EnterMedia&#39;s own user and group system</li>
				<li>
					<strong>Watermarking</strong> - protect your copyrighted images</li>
				<li>
					<strong>Cropping, Scaling, and Rotating</strong> - basic image manipulation tools</li>
				<li>
					<strong>Batch Upload/Download</strong> - Upload entire collections at once</li>
				<li>
					<strong>Drag-and-Drop Upload Interface</strong> - makes adding assets even easier</li>
				<li>
					<strong>Immediate download of originals and zipped assets</strong></li>
				<li>
					<strong>Multi-Language Support</strong></li>
				<li>
					<strong>Image Orientation Detection:</strong> EnterMedia will check for information about the orientation of your images, as well as allow you to adjust the orientation yourself</li>
				<li>
					<strong>PDF Previews</strong> - preview any page of a multi-page PDF document</li>
				<li>
					<strong>Image/Document Conversions</strong> - Hundreds of standard conversion formats: <a href="http://www.imagemagick.org/script/formats.php">ImageMagick</a> + Adobe Formats</li>
				<li>
					<strong>Video Conversions</strong> - Create Flash previews of many <a href="http://ffmpeg.org/">FFMPEG</a> compatible formats</li>
				<li>
					<strong>Online Player for MP3 Audio</strong> - Support for conversions using <a href="http://lame.sourceforge.net/">LAME</a> encoder</li>
				<li>
					EnterMedia software and releases are listed under GNU Lesser General Public License</li>
			</ul>
		</div>
	</div>
</div>