    <div id="slider">
	    <div class="container">
	    	<div class="flex-container">
				<div class="flexslider">
				    <ul class="slides">
				    	<li>
				    		<img src="$home/media/slide-1.png" />
				    	</li>
				    	<li>
				    		<a href="/views/features/index.html#library"><img src="$home/media/slide-2.png" /></a>
				    	</li>
				    	<li>
				    		<img src="$home/media/slide-3.png" />
				    	</li>
				    	<li>
				    		<a href="#"><img src="$home/media/blank-slide.png" /></a>
				    	</li>
				   </ul>
			  </div>
	 		</div>
	    </div>
    </div>