<div id="tourwrap">
	
	<div id="tournav" class="col3">
		<div class="tour-title top">
			<h5>Take a tour of EnterMedia</h5>
		</div>
		<div id="find" class="tour-option current">
			<a>Find</a><span>Easily locate the files you need with EnterMedia Library.</span>
		</div>
		<div id="communicate" class="tour-option">
			<a>Communicate</a><span>Add comments, review specifics, and make changes quickly.</span>
		</div>
		<div id="share" class="tour-option">
			<a>Share</a><span>Edit permissions for secure and efficient media distribution.</span>
		</div>
		<div id="expand" class="tour-option bottom">
			<a>Expand</a><span>EnterMedia easily keeps pace with your departments growth.</span>
		</div>
	</div>
	
	<div  class="col9">
		<ul id="tour">
			<li class="find">
				<div class="tour-page">
					<h1>Find<span>EnterMedia is centered around a simple, yet powerful search engine.</span></h1>
					<div class="copy left">
						<p>
							<span>View search results on your terms.</span>
							EnterMedia 8  search results are arranged in traditional table or gallery views. Single assets have their own details and description available if you want to dive a little deeper. Controlling your view helps make sorting through results quick and easy.
						</p>
						<img src="$home/media/tour/find-1.png" />
					</div>
					<div class="copy right">
						<img src="$home/media/tour/find-2.png" />
						<p>
							<span>Automatically keep track of previous searches.</span>
							EnterMedia automatically updates queries to the sidebar for later access leaving the option to save and refine searches. Organize catalogs, categories, custom fields, and tags.						
						</p>
					</div>
					<div class="copy left">
						<p>
							<span>Refine saved searches to pinpoint the files you want.</span>
							By refining your search to a specific category or metadata field, you can return the specific files your are looking for.  We built the search function to give you extra power, without sacrificing usability.
						</p>
						<img src="$home/media/tour/find-3.png" />
					</div>
					<div class="copy right">
						<img src="$home/media/tour/find-4.png" />
						<p>
							<span>Organize with catalogs, categories, tags, and custom fields.</span>
							Find the media you are searching for quickly with EnterMedia's robust metadata capabilities.  We realize that each organization is unique so we buld EnterMedia to be flexible and powerful.  The power of EnterMedia lies in the ability to fully customize metadata fields no matter what your workflow entails.
						</p>
					</div>
				</div>
				<div class="tour-cta">
					<div class="big-button">
						<p class="above">Ready to take the next steps?</p>
						<a class="btn" href="/views/plans/index.html">See Plans &amp; Pricing</a>
						<p>
							Or get the <a href="/views/download/index.html">Source Code!</a></p>
					</div>
				</div>
			</li>
			
			<li class="share"  style="display: none;">
				<h1>Share<span>Distribute your content, with your branding, without sacrificing file security.</span></h1>
				<div class="copy left">
					<p>
						<span>Automatic thumbnails and conversions.</span>
						When someone uploads a video asset, EnterMedia will automatically generate thumbnails and conversions behind the scenes.   Of course, none of this affects your original files should you need them, and using previews can dramatically reduce bandwidth consumption, so your viewers will spend less time waiting.
					</p>
					<img src="$home/media/tour/share-1.png" />
				</div>
				<div style="clear:both;"></div>
				<div class="copy right">
					<img src="$home/media/tour/share-2.png" />
					<p>
						<span>Bundle attachments to the original asset.</span>
						You can easily bundle additional files to an asset allowing other users to find source files or extras that go with the original asset.  This combined with EnterMedia's already powerful search interface means you will spend less time hunting.
					</p>
				</div>
				<div style="clear:both;"></div>
				<div class="copy left">
					<p>
						<span>Share files securely.</span>
						With EnterMedia you can control every aspect of permissions with groups and users.  You can totally customize who has the power to view, edit, upload and download your files.  There are plenty of ways to quickly manage users across all departments.
					</p>
					<img src="$home/media/tour/share-3.png" />
				</div>
				<div class="tour-cta">
					<div class="big-button">
						<p class="above">Ready to take the next steps?</p>
						<a class="btn" href="/views/plans/index.html">See Plans &amp; Pricing</a>
						<p>
							Or get the <a href="/views/download/index.html">Source Code!</a></p>
					</div>
				</div>
			</li>
			
			<li class="communicate"  style="display: none;">
				<h1>Communicate<span>From single files to entire collections, EnterMedia makes for easy collaboration.</span></h1>
				<div class="copy left">
					<p>
						<span>Powerful commenting made easy.</span>
Built-in commenting in EnterMedia makes taking notes a cinch without obstructing your natural work-flow.  This makes it easy for you to clear up any questions your client or team might have, AND since comments are stored with the original asset, everyone knows where to go for the latest information.                    
					</p>
					<img src="$home/media/tour/communicate-1.png" />
				</div>
				<div style="clear:both;"></div>
				<div class="copy right">
					<img src="$home/media/tour/geolocation.jpg" />
					<p>
						<span>Geo-tag your assets.</span>
						EnterMedia is a powerful metadata editor.  With the geo-tagging feature, you can search by zip code, and quickly give your asset latitude and longitude.  That information is bundled with the asset when people view it later.
					</p>
				</div>
				<div style="clear:both;"></div>
				<div class="copy left">
					<p>
						<span>Easily attach and send files by email.</span>
						EnterMedia makes it easy to share files with colleagues across departments without losing track of data.  It automatically writes a generic email for you and includes the appropriate links for the files you have selected.  Easily customize what size or type of file to send.
					</p>
					<img src="$home/media/tour/communicate-3.png" />
				</div>
				<div style="clear:both;"></div>
				<div class="copy right">
					<img src="$home/media/tour/communicate-4.png" />
					<p>
						<span>Track file usage and history.</span>
						Every file action that takes place on your server is recorded and attached to your asset through the system.  You can get a read out of users and see the file actions they performed with a time record.
					</p>
				</div>
				<div class="tour-cta">
					<div class="big-button">
						<p class="above">Ready to take the next steps?</p>
						<a class="btn" href="/views/plans/index.html">See Plans &amp; Pricing</a>
						<p>
							Or get the <a href="/views/download/index.html">Source Code!</a></p>
					</div>
				</div>
			</li>
			
			<li class="expand" style="display: none;">
				<h1>Expand<span>Use one installation to create multiple deployments, instances, and catalogs.</span></h1>
				<div class="copy left">
					<p>
						<span>EnterMedia Share makes your website for you.</span>
						In EnterMedia we have created the share application to make it absolutely painless to get a branded website online with a few clicks.  You can take a look at just how easy it is to work with the EnterMedia 8 Manager application in our video section.
					</p>
					<img src="$home/media/tour/expand-1.png" />
				</div>
				<div style="clear:both;"></div>
				<div class="copy right">
					<img src="$home/media/tour/expand-2.png" />
					<p>
						<span>Get a better view with EnterMedia Manager.</span>
						With the manager application from EnterMedia you get a command view of your server.  From here you can track what applications are installed on your system and manage catalogs.  When new applications arrive you can use the manager to update your install.
					</p>
				</div>
				<div style="clear:both;"></div>
				<div class="copy left">
					<p>
						<span>All in a single install.</span>
						One EnterMedia Installation can host as many catalogs and instances as you need, so you never need to worry about outgrowing your server platform.
					</p>
					<img src="$home/media/tour/expand-3.png" />
				</div>
				<div class="tour-cta">
					<div class="big-button">
						<p class="above">Ready to take the next steps?</p>
						<a class="btn" href="/views/plans/index.html">See Plans &amp; Pricing</a>
						<p>
							Or get the <a href="/views/download/index.html">Source Code!</a></p>
					</div>
				</div>
			</li>
			
		</ul>
	</div>
	
</div>


<script>
	$('.tour-option').click(function() {
		
		$('#tour li').hide();
		$('.tour-option').removeClass('current');
		
		var id = $(this).attr("id");
		$('#tour li.' + id).fadeToggle('slow');
		$('#' + id).addClass('current');

	})
</script>
