<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Welcome to EnterMedia 8 - Get Aquainted!</title>
<link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>

<div id="tourwrap">

<h1>Share - <span>Distribute your content, with your branding, without sacrificing file security.</span></h1>
	
    <div class="copy left">
	  <p>
            <span>Automatic thumbnails and conversions.</span>
					When someone uploads a video asset, EnterMedia will automatically generate thumbnails and conversions behind the scenes.   Of course, none of this affects your original files should you need them, and using previews can dramatically reduce bandwidth consumption, so your viewers will spend less time waiting.</p>
                    
      <img src="$home/media/EMLscreenshotsm.jpg"  style="float:right;" />

	</div>
	<div style="clear:both;"></div>
<div class="copy right">
		
        <img src="$home/media/filetypes.jpg" style="float:left;" /><p>
            
            <span>Bundle attachments to the original asset.</span>
					You can easily bundle additional files to an asset allowing other users to find source files or extras that go with the original asset.  This combined with EnterMedia’s already powerful search interface means you will spend less time hunting.</p>
  </div>
	<div style="clear:both;"></div>
<div class="copy left">
	  <p>
            <span>Share files securely.</span>
					
With EnterMedia you can control every aspect of permissions with groups and users.  You can totally customize who has the power to view / edit / upload / download your files.  There are plenty of ways to quickly manage users across all departments.</p>
                    
      <img src="$home/media/secure_folder.jpg"  style="float:right;border:1px solid grey;" />

	</div>
	<div style="clear:both;"></div>



<div id="tournav">
<p><a href="find.html">Find</a><span>- Easily locate the files you need with Enterprise Media Library.</span></p>
<p><a href="communicate.html">Communicate</a><span>- Add comments, review specifics, and make changes quickly.</span></p>
<p><a href="share.html">Share</a><span>- Edit permissions for secure and efficient media distribution.</span></p>
<p><a href="expand.html">Expand</a><span>- EnterMedia easily keeps pace with your departments growth.</span></p>
</div>




</div>
</body>
</html>
