    <header>
    	<div class="container">
	    	<div id="logo"><h1><a class="ir" href="/">EnterMedia Software - Welcome to EnterMedia 8</a></h1></div>
	    	<ul id="social-nav">
	    		<li class="try"><a href="#">Plans &amp; Pricing</a></li>
				<li class="download"><a href="#">Download</a></li>
	    	</ul>
			<ul id="main-nav">
				<li class="current"><a href="/views/tour/index.html">Tour</a></li>
				<li class="divider">/</li>
				<!-- li class="dd left"><a href="/applications">Community</a>
					<ul>
						<li><a href="#">Education</a>
						<li><a href="#">Video Production</a>
						<li><a href="#">Healthcare</a>
						<li><a href="#">Business</a>
						<li><a href="#">Marketing</a>
					</ul>
				</li -->
				<li><a href="/applications">Features</a></li>
				<li class="divider">/</li>
				<li><a href="/applications">Learning Center</a></li>
				<li class="divider">/</li>
				<li><a href="/applications">About</a></li>
				<!-- li><a href="/applications">Support</a></li>
				<li class="divider">/</li>
				<li class="dd left"><a href="/applications">Learning Center</a>
					<ul>
						<li><a href="#">Entermedia 8 for Designers</a>
						<li><a href="#">Entermedia 8 for Developers</a>
						<li><a href="#">Entermedia 8 for Administrators</a>
						<li><a href="#">Entermedia 8 for Users</a>
					</ul>
				</li -->
				<li class="divider">/</li>
				<li><a href="/applications">Blog</a></li>
				<li class="divider">/</li>
				<li><a href="/applications">Contact</a></li>
			</ul>
		</div>
    </header>

$pages.includeContent()

    <footer>
    	<div class="container">
			<div id="footer-logo">
				<h1><a class="ir" href="/">EnterMedia Software - Welcome to EnterMedia 8</a></h1>
			</div>
				<ul id="footer-nav">
					<li>// <a href="/views/tour/index.html">Tour</a></li>
					<li>// <a href="/applications">Features</a></li>
					<li>// <a href="/applications">About</a></li>
					<li>// <a href="/applications">Blog</a></li>
					<li>// <a href="/applications">Contact</a>
						<ul>
							<li><a href="#">Facebook</a>
							<li><a href="#">Twitter</a>
							<li><a href="#">Google +</a>
						</ul>
					</li>
				</ul>
			
		
		<hr />
		
		<p>Copyright &copy; 2011 Entermedia Software Inc. - All rights reserved.</p>
		</div>
    </footer>



  <!--[if lt IE 7 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  <![endif]-->
  
