    <header>
    	<div class="container">
	    	<div id="logo"><h1><a class="ir" href="/">EnterMedia Software - Welcome to EnterMedia 8</a></h1></div>
	    	<ul id="social-nav">
	    		<li class="try"><a href="/views/plans/index.html">Plans &amp; Pricing</a></li>
				<li class="download"><a href="/views/download/index.html">Download</a></li>
	    	</ul>
			<ul id="main-nav">
				<li class="current"><a href="/views/tour/index.html">Tour</a></li>
				<li class="divider">/</li>
				<!-- li class="dd left"><a href="/views/community/index.html">Community</a>
					<ul>
						<li><a href="#">Education</a>
						<li><a href="#">Video Production</a>
						<li><a href="#">Healthcare</a>
						<li><a href="#">Business</a>
						<li><a href="#">Marketing</a>
					</ul>
				</li -->
				<li><a href="/views/features/index.html">Features</a></li>
				<li class="divider">/</li>
<!-- 				<li><a href="/views/learningcenter/index.html">Learning Center</a></li> -->
				<li class="divider">/</li>
				<li><a href="/views/about/index.html">About</a></li>
				<!-- li><a href="/views/support/index.html">Support</a></li>
				<li class="divider">/</li -->
				<li class="divider">/</li>
<!-- 				<li><a href="/views/blog/index.html">Blog</a></li> -->
				<li class="divider">/</li>
				<li><a href="/views/contact/index.html">Contact</a></li>
			</ul>
		</div>
    </header>

$pages.includeContent()

    <footer>
    	<div class="container">
			<div id="footer-logo">
				<h1><a class="ir" href="/">EnterMedia Software - Welcome to EnterMedia 8</a></h1>
			</div>
				<ul id="footer-nav">
					<li>// <a href="/views/tour/index.html">Tour</a></li>
					<li>// <a href="/views/features/index.html">Features</a></li>
					<li>// <a href="/views/about/index.html">About</a></li>
					<li>// <a href="/views/blog/index.html">Blog</a></li>
					<li>// <a href="/views/contact/index.html">Contact</a>
						<ul>
							<li><a href="http://www.facebook.com/pages/EnterMedia/121544607860643">Facebook</a>
							<li><a href="http://twitter.com/#!/EnterMedia_DAM">Twitter</a>
							<!-- li><a href="#">Google +</a -->
						</ul>
					</li>
				</ul>
			
		
		<hr />
		
		<p>Copyright &copy; 2011 Entermedia Software Inc. - All rights reserved.</p>
		</div>
    </footer>



  <!--[if lt IE 7 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  <![endif]-->
  
