<div class="col8" id="left-col">
	<article>
		<h2> Welcome to EnterMedia 8</h2>
		<aside class="breakout">
			With <strong>EnterMedia 8</strong> you can create your own branded media sharing website similar to <strong>YouTube</strong> or <strong>Flickr</strong> using Open Source technologies.
		</aside>
		<section class="columns">
			<section class="columns-2">
				<h6> Secure Permissions</h6>
				<p>
					With EnterMedia you can fully customize permissions to grant or restrict user access to files and features. Additionally, EnterMedia tracks and stores history for each asset so that you stay informed about who does what with your media. The management of content as well as groups and roles has been built into the front end for quick and easy administration.
				</p>
				<h6> Integrated Environment</h6>
				<p>
					Switching over to EnterMedia doesn't mean losing the look and feel of your current site. Our interface can be customized to blend seamlessly with you existing layout. We give you the power to host your own media in a controlled and branded environment that will already feel like home to your users, or like <code>127.0.0.1</code> to your technical team.
				</p>
				<h6>Expandable Codebase</h6>
				<p>
					EnterMedia easily keeps pace with your company's growth. One EnterMedia installation can host as many catalogs or instances as you need, so you never need to worry about outgrowing your server platform. Each department can expand their collection of assets without cluttering or compromising the sovereignty of another division.
				</p>
			</section>
			<!--h6>Share Photos &amp; Videos</h6>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
			<h6>Create a Community</h6>
			<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
			<h6>Organize Your Files</h6>
			<p>Velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			<h6>Go Further</h6>
			<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate v. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p -->
		</section>
		<article>
			<div class="big-button">
				<a class="btn" href="/views/tour/index.html">Evaluate Entermedia 8</a>
				<p>
					Take our tour!
				</p>
			</div>
		</article>
	</article>
</div>
<div class="col4" id="right-col">
	<div class="big-button">
		<a class="btn" href="/views/plans/index.html">See Plans &amp; Pricing</a>
		<p>
			Or get the <a href="/views/download/index.html">Source Code!</a>
		</p>
	</div>
	<div class="stb">
		<div class="stb-top">
			&nbsp;
		</div>
		<div class="steps-to-buy">
			<div class="sidebar-title">
				<span class="install ir">Installation</span><a href="/views/tour/index.html#installation">Installation</a>
			</div>
			<p>
				Our knowledgeable staff can help you install EnterMedia on your server based on your specific requirements.
			</p>
			<div class="sidebar-title">
				<span class="training ir">Training</span><a href="/views/tour/index.html#training">Training</a>
			</div>
			<p>
				We offer training to help you make the most of your EnterMedia Software. Take a look at our competitive pricing, and find out how we can bring your understanding to the next level.
			</p>
			<div class="sidebar-title">
				<span class="support ir">Support</span><a href="/views/tour/index.html#support">Support</a>
			</div>
			<p>
				EnterMedia developers are always available should you require consulting or customization for your installation.
			</p>
		</div>
		<div class="stb-bottom">
			&nbsp;
		</div>
	</div>
</div>
