<div class="col8" id="left-col">
	<article>
	<h2>
		Welcome to EnterMedia 8</h2>
	<aside class="breakout">EnterMedia is the number one open source digital asset management alternative to any commercial software on the market.</aside>
	<div class="video-box">
		<a class="myPlayer" href="http://em7.entermediasoftware.com/media/catalogs/jysproductions/downloads/converted/cache/users/jyspro@mac.com/EnterMedia_Advertisement.mov/video.mp4"> <img alt="play button" src="http://em7.entermediasoftware.com/media/catalogs/public/mediaplayer/flowplayer/play_large.png" /> </a></div>
	<p>
		EnterMedia utilizes modern features and a client based development model; video publishing and marketing needs drive corporate growth, EnterMedia develops according to those needs which is why EnterMedia is at the forefront of digital asset management innovation.</p>
	<h5>
		<a href="http://entermediasoftware.com/views/plans/index.html">EnterMedia 30 Day Deployment Plan</a></h5>
	<p>
		Hire EnterMedia to remotely deploy and train you on your EnterMedia server. EnterMedia empowers our clients to use EnterMedia tools to centralize, manage and process all of their digital files. We will work closely with you to deploy and train you on your EnterMedia digital asset management server. Whether you want us to install EnterMedia on a hosted server of your choice or your inhouse sever, we will be there to be sure your Entermedia deployment is a successful deployment.</p>
	<h5>
		<a href="http://entermediasoftware.com/views/download/index.html">Open Source Community</a></h5>
	<p>
		Get the source code for free. Just run the appropriate installer, then unzip the ROOT.war within your Java web server webapps directory. After deployment, your application is ready for use and customization. Pretty colors, flashy formats, and intuitive data arrangements are limited only by your imagination. Feel free to edit, arrange and organize your assets like the courageous pioneer that you are.</p>
	<div class="hr" style="padding-bottom: 20px;">
		&nbsp;</div>
	<div class="row" style="margin-top: -30px; margin-bottom: 20px;">
		<div class="col4">
			<div class="big-button">
				<p style="margin-top:20px; margin-bottom: -25px;">
					Ready to try EnterMedia?</p>
				<a class="btn" href="http://demo.entermediasoftware.com/emshare" target="_blank">Check Out The Demo!</a></div>
		</div>
		<div class="col4">
			<div class="big-button">
				<p style="margin-top:20px; margin-bottom: -25px;">
					Want to dig a little deeper?</p>
				<a class="btn" href="/views/download/index.html">Get The Source Code!</a></div>
		</div>
	</div>
	</article></div>
<div class="col4" id="right-col">
	<div class="stb">
		<div class="stb-top">
			&nbsp;</div>
		<div class="steps-to-buy">
			<div class="sidebar-title">
				<span class="install ir">Installation</span><a href="/views/plans/index.html">Installation</a></div>
			<p>
				Our knowledgeable staff can help you install EnterMedia on your server based on your specific requirements.</p>
			<div class="sidebar-title">
				<span class="training ir">Training</span><a href="/views/plans/additionalservices.html#training">Training</a></div>
			<p>
				We offer training to help you make the most of your EnterMedia Software. Take a look at our competitive pricing, and find out how we can bring your understanding to the next level.</p>
			<div class="sidebar-title">
				<span class="support ir">Support</span><a href="/views/plans/additionalservices.html">Support</a></div>
			<p>
				EnterMedia developers are always available should you require consulting or customization for your installation.</p>
		</div>
		<div class="stb-bottom">
			&nbsp;</div>
	</div>
	<div class="big-button">
		<p style="margin-top:20px; margin-bottom: -25px;">
			Want more? Take the Tour!</p>
		<a class="btn" href="/views/learningcenter/tour/index.html">Evaluate Entermedia 8</a></div>
</div>
