<div class="col8" id="left-col">
	<article>
	<h2>
		Welcome to EnterMedia 8</h2>
	<aside class="breakout">EnterMedia values creative freedom and empowers web developers.</aside>
	<p>
		EnterMedia is an agile, open source, media asset management server. Using EnterMedia, content creators have the freedom to organize and share their work within a branded, interactive environment.&nbsp;</p>
	<p>
		Web Developers have access to the full source code which uses responsive cross-platform web standards such as XML, jQuery, and Web Services.&nbsp;</p>
	<p>
		EnterMedia offers centralized access to knowledge in these and other areas&nbsp; which empowers developers to optimize their EnterMedia platform.</p>
	<aside class="breakout"> <a class="lgpl ir" href="/views/download/index.html">Download</a> Create branded media sharing websites using Open Source technologies. </aside>
	<p>
		&nbsp;</p>
	<article>
	<div class="big-button">
		<a class="btn" href="/views/tour/index.html">Evaluate Entermedia 8</a>
		<p>
			Take our tour!</p>
	</div>
	</article> </article></div>
<div class="col4" id="right-col">
	<div class="stb">
		<div class="stb-top">
			&nbsp;</div>
		<div class="steps-to-buy">
			<div class="sidebar-title">
				<span class="install ir">Installation</span><a href="/views/tour/index.html#installation">Installation</a></div>
			<p>
				Our knowledgeable staff can help you install EnterMedia on your server based on your specific requirements.</p>
			<div class="sidebar-title">
				<span class="training ir">Training</span><a href="/views/tour/index.html#training">Training</a></div>
			<p>
				We offer training to help you make the most of your EnterMedia Software. Take a look at our competitive pricing, and find out how we can bring your understanding to the next level.</p>
			<div class="sidebar-title">
				<span class="support ir">Support</span><a href="/views/tour/index.html#support">Support</a></div>
			<p>
				EnterMedia developers are always available should you require consulting or customization for your installation.</p>
		</div>
		<div class="stb-bottom">
			&nbsp;</div>
	</div>
</div>
