<div class="row clearfix">
	<div class="col8" id="left-col">
		<article>
			<h2>EnterMedia: Then and Now.</h2>
			<aside class="breakout">
				<strong>EnterMedia was launched in 2008</strong> with headquarters in Cincinnati, Ohio with representatives in Canada, California, New York and South America. Christopher Burkey is the original creator of EnterMedia and has been a CEO within the digital media industry for over 10 years.
			</aside>
			<section class="columns">
				<p>
					EnterMedia was launched in 2008 with its headquarters in Cincinnati, Ohio. We currently have developers and other team members
					in Canada, California, New York and South America. Christopher Burkey is our wizard behind the curtain and has been a CEO in
					the digital media industry for over ten years.
				</p>
				<p>
					With a decade of experience in developing digital asset management software and content management systems for enterprise clients,
					EnterMedia has a competitive edge in the ever-evolving market. Video publishing and marketing needs are driving corporate growth,
					and we are at the forefront of innovation with modern features and a client based development model. Meaning that we let the needs
					and direction of the market be our guiding star.
				</p>
				<p>
					We have had amazing experiences working with a variety of customers, all with their own plethora of ideas. From entertainment
					giants like Slamdance film festival and WWE, to educational organizations like Harvard University and the Educational
					Theatre Association we provide the ability for each entity to share branded content with its customers, employees, or fan-base
					like never before.
				</p>
			</section>
		</article>
	</div>
	<div class="col4">
		<img src="$home$themeprefix/images/about-sidebar.png" />
	</div>
</div>

