<div class="row clearfix">
	<div class="col8" id="left-col">
		<article>
		<h2>Empowering Our Clients</h2>
		<aside class="breakout"> <font face="verdana, sans-serif">EnterMedia launched in 2008, based in Cincinnati, Ohio. Entermedia development continues to grow and is made up of an innovative International &nbsp;team. Christopher Burkey, creator of EnterMedia, has been a CEO in the digital media industry for over ten years.</font></aside> <section class="columns">
		<p>
			EnterMedia’s frontline experience in developing digital asset management software and content 
management systems spans over a decade.  EnterMedia has a competitive edge in the ever-evolving market. EnterMedia 
utilizes modern features and a client based development model; video publishing and marketing needs drive corporate 
growth, EnterMedia develops according to those needs and thus is the forefront of innovation.
		</p>
		<p>
			EnterMedia’s curriculum vitae includes Slamdance film festival, WWE, Harvard Business School, South Dakota State University and  Educational Theatre Association - EnterMedia provides for each entity the ability to share branded content with its customers, employees or fan-base in ultimate form.
		</p>
		<p>EnterMedia is includes integrators, marketers, accounting, consultants and partners who are the world wide EnterMedia community.</p>

		<p>The core product team uses agile development techniques to quickly create new features and new versions of EnterMedia.</p>
		<div class="big-button">
		<a class="btn" href="/views/about/team.html">Meet The Product Team</a>
		</div>
	</div>
	<div class="col4">
		<img src="$home$themeprefix/images/about-sidebar.png" /></div>
</div>