<div class="col8" id="left-col">
	<article>
	<div id="home-video">
		&nbsp;</div>
	<aside class="breakout"> <strong>EnterMedia was launched in 2008</strong> with headquarters in Cincinnati, Ohio with representatives in Canada, California, New York and South America. Christopher Burkey is the original creator of EnterMedia and has been a CEO within the digital media industry for over 10 years. </aside> <section class="columns">
	<p>
		EnterMedia has over 10 years experience developing digital asset managment and content management systems for enterprise clients who have installed EnterMedia for the video publishing and marketing needs. We have also had good experiences working closely with large websites such as the Slamdance film festival and EQOUS, India&#39;s largest industrial products portal.</p>
	<p>
		Enterprise clients such as World Wrestling Entertainment use EnterMedia for sharing assets with licesnsees while Primedia, who runs apartmentguide.com and rentals.com use EnterMedia to manage millions of assets for their websites. ALM, the largest legal magazine publisher in the world, uses EnterMedia for tracking documents within their company and publishing them through their websites.</p>
	</section> <article> </article></article></div>
