
<div class="row clearfix">
	<div class="col4">
		<img class="picframe" src="$home$themeprefix/images/chris.jpg" />
	</div>
	<div class="col8">
		<hgroup class="nameplate">
			<h3>Christopher Burkey</h3>
			<h4>CEO/Inventor of EnterMedia</h4>
		</hgroup>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</div>
</div>
<div class="row clearfix">
	<div class="col8">
		<hgroup class="nameplate">
			<h3>Julie Riley</h3>
			<h4>VP Buiseness Solutions</h4>
		</hgroup>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</div>
	<div class="col4">
		<img class="picframe" src="$home$themeprefix/images/julie.jpg" />
	</div>
</div>
<div class="row clearfix">
	<div class="col4">
		<img class="picframe" src="$home$themeprefix/images/rob.jpg" />
	</div>
	<div class="col8">
		<hgroup class="nameplate">
			<h3>Rob Chipman</h3>
			<h4>UX Designer/Developer</h4>
		</hgroup>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</div>
</div>
<div class="row clearfix">
	<div class="col8">
		<hgroup class="nameplate">
			<h3>Casey Abernathy</h3>
			<h4>Customer Relations/Technical Support</h4>
		</hgroup>
		<p>Entermedia's comprehensive technical support offered by Casey
		Abernathy, with years in professional issue resolution and direct
		technical services&#151;Mr. Abernathy holds an integral role at Entermedia,
		from development to production. Casey's guidance and team leadership
		for Entermedia training sessions, orchestration of the 30 day
		installation of EnterMedia 8 will insure ( installation and user? )
		success.</p>
	</div>
	<div class="col4">
		<img class="picframe" src="$home$themeprefix/images/casey.jpg" />
	</div>
</div>

<style type="text/css">
	.picframe {
		padding: 3px;
		background: #fff;
		border: 1px solid #e5e5e5;
		box-shadow: 0 0 4px 0 rgba(0,0,0,0.1);
	}
	.col8 p {
		font-family: georgia, serif;
		font-size: 16px;
		line-height: 24px;
		color: #444;
	}
	.row.clearfix {
		padding: 20px 0;
		border-bottom: 1px solid #f3f3f3;
	}
	.nameplate {
		margin-top: 60px;
	}
	.nameplate h4 {
		margin-top: -15px;
		font-size: 18px;
		margin-bottom: 20px;
	}
	.hr {
		border-bottom: 1px solid #f3f3f3;
		margin: 30px 0;
	}
</style>