<div class="row clearfix">
	<div class="col4">
		<img class="picframe" src="$home$themeprefix/images/chris.jpg" /></div>
	<div class="col8">
		<hgroup class="nameplate">
		<h3>
			Christopher Shanti Burkey</h3>
		<h4>
			CEO/Inventor of EnterMedia</h4>
		</hgroup>
		<p>
			Christopher is EnterMedia's honest, benevolent leader. For over 10 years Christopher has been refining and advancing the common goals of EnterMedia's employees, partners, integrators, clients and community members so that everyone may benefit from their efforts as EnterMedia grows.</p>

<p style="color:gray;">all photo credits: Sarra Hennigan</p>

	</div>
</div>
<div class="row clearfix">
	<div class="col8">
		<hgroup class="nameplate">
		<h3>
			Julie Riley</h3>
		<h4>
			Executive Vice President</h4>
		</hgroup>
		<p>
			Julie is the first resource when contacting EnterMedia. Julie offers guidance through the EnterMedia sales setup and service process and will be available throughout the installation. &nbsp;Julie has been involved in the industry for over 20 years in numerous roles including research, business management, support, speaking and sales.&nbsp;</p>
	</div>
	<div class="col4">
		<img class="picframe" src="$home$themeprefix/images/julie.jpg" /></div>
</div>
<div class="row clearfix">
	<div class="col4">
		<img class="picframe" src="$home$themeprefix/images/rob.jpg" /></div>
	<div class="col8">
		<hgroup class="nameplate">
		<h3>
			Rob Chipman</h3>
		<h4>
			UX Designer/Developer</h4>
		</hgroup>
		<p>
			EnterMedia&#39;s custom designs and visual development projects are orchestrated by team member Rob Chipman. Rob has worked in the graphic design arena for over 10 years and has extensive front end development experience. Rob&#39;s dedication to creating custom branding for EnterMedia 8 to match the current layout of an existing website makes upgrading to EnterMedia a seamless process.</p>
	</div>
</div>
<div class="row clearfix" style="border-bottom: none;">
	<div class="col8">
		<hgroup class="nameplate">
		<h3>
			Casey Abernathy</h3>
		<h4>
			Customer Relations/Technical Support</h4>
		</hgroup>
		<p>
			EnterMedia&#39;s comprehensive technical support is provided by Casey Abernathy. With years in professional issue resolution and direct technical services, Casey holds a pivotal role at EnterMedia, from development to production. Casey&#39;s guidance and team leadership throughout the live training sessions as well as his orchestration of the 30 day deplyoment of EnterMedia 8 will insure the successful implementation of all EnterMedia 8 digital asset management system deployments.</p>
	</div>
	<div class="col4">
		<img class="picframe" src="$home$themeprefix/images/casey.jpg" /></div>
</div>


