<div class="col12">
	<h2>Connect with an Open Community</h2> 
	<aside class="breakout">
		Questions? Comments? Looking for a soul mate? We would love to help out with either of the first two. 
		Just tell us a little about yourself and share the details. We have marketing, technical support, 
		and an open interactive community of other people just like you who make a great audience.
	</aside>
</div>
<div class="col8" id="left-col">
		    	<form id="contact-us" class="clearfix">
		    		<label for="name" class="clearfix first">Name
		    			<span>This field is required.</span>
		    			<input class="field required" type="text" id="name" />
		    		</label>
		    		<label for="email" class="clearfix">Email
		    			<span>This field is required.</span>
		    			<input class="field required" type="text" id="email" />
		    		</label>
		    		<label for="phone" class="clearfix">Phone Number
		    			<input class="field" type="text" id="phone" />
		    		</label>
		    		<label for="organization" class="clearfix">Business/Organization
		    			<input class="field full" type="text" id="organization" />
		    		</label>
		    		<label for="website" class="clearfix">Website
		    			<input class="field full" type="text" id="website" />
		    		</label>
		    		<label for="message" class="clearfix">Message
		    			<span>This field is required.</span>
		    			<textarea class="field full" id="message"></textarea>
		    		</label>
		    		<label for="human" class="clearfix last">5 + 2 =
		    			<span>This field is required.</span>
		    			<input class="field human-test required" type="text" id="human" />
		    		</label>
		    		<input class="btn" type="submit" value="Get Answers!" />
		    	</form>
	    	</div>
	    	<div class="col4" id="right-col">
	    		<img style="margin-bottom: 15px;" src="$home$themeprefix/images/contact-icon.png" />
	    		<p class="sidebar-block phone">
	    			<strong>Sales:</strong><br />
	    			1 (937) 671-6212<br />
	    		</p>
	    		<p class="sidebar-block support">
	    			<strong>Support:</strong><br />
	    			<a href="mailto:gatekeeper@entermedisoftware.com">gatekeeper@entermedisoftware.com</a>	    		
	    		</p>
	    		<p class="sidebar-block map"><strong>EnterMedia Inc.</strong><br />
				1550 Magnolia Dr.<br />
				Cincinnati, Ohio, 45215</p>
	    	</div>
	    	
<script>
	$(document).ready(function(){
  	  $("#contact-us").validate();
    });
</script>