<div class="col8" id="left-col">
	    		<article>
		    		<aside class="breakout">
		    			<strong>Thank you for your intrest in EnterMedia!</strong> Contact us for sales, support packages and general information about EnterMedia.
		    		</aside>
		    	<article>
		    	<form id="contact-us">
		    		<label for="name">Name</label>
		    		<input class="field" type="text" id="name" />
		    		<label for="email">Email</label>
		    		<input class="field" type="text" id="email" />
		    		<label for="phone">Phone Number</label>
		    		<input class="field" type="text" id="phone" />
		    		<label for="organization">Business/Organization</label>
		    		<input class="field full" type="text" id="organization" />
		    		<label for="website">Website</label>
		    		<input class="field full" type="text" id="website" />
		    		<label for="message">Message</label>
		    		<textarea class="field full" id="message"></textarea>
		    		<label for="human">5 + 2 =</label>
		    		<input class="field human-test" type="text" id="human" />
		    		<input class="btn" type="submit" />
		    	</form>
	    	</div>
	    	<div class="col4" id="right-col">
	    		<p>Or Phone Sales at 1-937-671-6212<br />
				Mailing Address:<br />
				EnterMedia Inc.<br />
				1550 Magnolia Dr.<br />
				Cincinnati, Ohio, 45215</p>
	    	</div>