<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Welcome to EnterMedia 8 - Get Aquainted!</title>
<link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>

<div id="tourwrap">

<h1>Communicate - <span>From single files to entire collections, EnterMedia makes for easy collaboration.</span></h1>
	
    <div class="copy left">
	  <p>
            <span>Powerful commenting made easy.</span>
					Use EnterMedia the way you want to.  The search results come back in either list or gallery view, or you can dive into a single asset’s details.  Controlling your view helps make sorting through results quick.</p>
                    
      <img src="comment-bubble.png"  style="float:right;" />

	</div>
	<div style="clear:both;"></div>
<div class="copy right">
		
        <img src="geotagging.jpg" style="float:left;" /><p>
            
            <span>Geo-tag your assets.</span>
					EnterMedia is a powerful metadata editor.  With the geo-tagging feature, you can search by zip code, and quickly give your asset latitude and longitude.  That information is bundled with the asset when people view it later.</p>
  </div>
	<div style="clear:both;"></div>
<div class="copy left">
	  <p>
            <span>Easily attach and send files by email.</span>
					
EnterMedia makes it easy to share files with colleagues across departments without losing track of data.  It automatically writes a generic email for you and includes the appropriate links for the files you have selected.  Easily customize what size or type of file to send. </p>
                    
      <img src="attachicon.png"  style="float:right;border:1px solid grey;" />

	</div>
	<div style="clear:both;"></div>
<div class="copy right">
		
        <img src="foldersearch.png" style="float:left;border:1px solid grey;" /><p>
            
            <span>Track file usage and history.</span>
            
            Every file action that takes place on your server is recorded and attached to your asset through the system.  You can get a read out of users and see the file actions they performed with a time record.  

					
</p>
  </div>
	<div style="clear:both;"></div>


<div id="tournav">
<p><a href="find.html">Find</a><span>- Easily locate the files you need with Enterprise Media Library.</span></p>
<p><a href="communicate.html">Communicate</a><span>- Add comments, review specifics, and make changes quickly.</span></p>
<p><a href="share.html">Share</a><span>- Edit permissions for secure and efficient media distribution.</span></p>
<p><a href="expand.html">Expand</a><span>- EnterMedia easily keeps pace with your departments growth.</span></p>
</div>




</div>
</body>
</html>
