<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Welcome to EnterMedia 8 - Get Aquainted!</title>
<link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>

<div id="tourwrap">

<h1>Expand - <span>Use one installation to create multiple deployments, instances, and catalogs.</span></h1>
	
    <div class="copy left">
	  <p>
            <span>EnterMedia Share makes your website for you.</span>
					In EnterMedia we have created the share application to make it absolutely painless to get a branded website online with a few clicks.  You can take a look at just how easy it is to work with the EnterMedia 8 Manager application in our video section.</p>
                    
      <img src="EMLscreenshotsm.jpg"  style="float:right;" />

	</div>
	<div style="clear:both;"></div>
<div class="copy right">
		
        <img src="binoculars.jpg" style="float:left;" /><p>
            
            <span>Get a better view with EnterMedia Manager.</span>
					With the manager application from EnterMedia you get a command view of your server.  From here you can track what applications are installed on your system and manage catalogs.  When new applications arrive you can use the manager to update your install.</p>
  </div>
	<div style="clear:both;"></div>
<div class="copy left">
	  <p>
            <span>All in a single install.</span>
					
One EnterMedia Installation can host as many catalogs and instances as you need, so you never need to worry about outgrowing your server platform. </p>
                    
      <img src="cranes.jpg"  style="float:right;border:1px solid grey;" />

	</div>
	<div style="clear:both;"></div>



<div id="tournav">
<p><a href="find.html">Find</a><span>- Easily locate the files you need with Enterprise Media Library.</span></p>

<p><a href="communicate.html">Communicate</a><span>- Add comments, review specifics, and make changes quickly.</span></p>
<p><a href="share.html">Share</a><span>- Edit permissions for secure and efficient media distribution.</span></p>
<p><a href="expand.html">Expand</a><span>- EnterMedia easily keeps pace with your departments growth.</span></p>
</div>




</div>
</body>
</html>
