<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Welcome to EnterMedia 8 - Get Aquainted!</title>
<link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>

<div id="tourwrap">

<h1>Find - <span>EnterMedia is designed around an easy, yet powerful search interface.</span></h1>
	
    <div class="copy left">
	  <p>
            <span>Review search results in your favorite view.</span>
					Use EnterMedia the way you want to.  The search results come back in either list or gallery view, or you can dive into a single asset’s details.  Controlling your view helps make sorting through results quick.</p>
                    
      <img src="EMLscreenshotsm.jpg"  style="float:right;" />

	</div>
	<div style="clear:both;"></div>
<div class="copy right">
		
        <img src="searcheditor.jpg" style="float:left;" /><p>
            
            <span>Automatically keep track of your previous searches.</span>
					Every time you search, EnterMedia automatically updates your query to the sidebar for later access. You then have options to save and refine your searches, so you can find the same files today, as you found yesterday, without starting over.</p>
  </div>
	<div style="clear:both;"></div>
<div class="copy left">
	  <p>
            <span>Refine saved searches to pinpoint the files you want.</span>
					
By refining your search to a specific category or metadata field you can return the specific files your are looking for.  We built the search function to give you extra power, without sacrificing usability.</p>
                    
      <img src="searchfiles.jpg"  style="float:right;border:1px solid grey;" />

	</div>
	<div style="clear:both;"></div>
<div class="copy right">
		
        <img src="organize.jpg" style="float:left;border:1px solid grey;" /><p>
            
            <span>Organize with catalogs, categories, tags, and custom fields.</span>
					
Find the media you are searching for quickly with EnterMedia's robust metadata capabilities.  Each organization is unique, and there are often diverse needs within separate departments as well.  The power of EnterMedia lies in the ability to fully customize metadata fields no matter what your work-flow entails. </p>
  </div>
	<div style="clear:both;"></div>


<div id="tournav">
<p><a href="find.html">Find</a><span>- Easily locate the files you need with Enterprise Media Library.</span></p>

<p><a href="communicate.html">Communicate</a><span>- Add comments, review specifics, and make changes quickly.</span></p>
<p><a href="share.html">Share</a><span>- Edit permissions for secure and efficient media distribution.</span></p>
<p><a href="expand.html">Expand</a><span>- EnterMedia easily keeps pace with your departments growth.</span></p>
</div>




</div>
</body>
</html>
