
<div class="col12">
	<hgroup class="big-centered">
		<h1>Recommended Plans</h1>
		<h2>All features and options are available ala carte as well, please give us a call for pricing options.</h2>
	</hgroup>
	<div class="plans">
		<div class="plan mashup">
			<hgroup>
				<h1>Mash Up</h1>
				<h2>FREE</h2>
			</hgroup>
			<ul>
				<li><span class="icon install ir">Install</span>Download Source Code</li>
				<li><span class="icon training ir">Training</span>Community Forums</li>
			</ul>
			<a class="btn" href="#mashup">Learn More</a>
		</div>
		<div class="plan standard">
			<hgroup>
				<h1>Standard</h1>
				<h2>starting at $5,500</h2>
			</hgroup>
			<ul>
				<li><span class="icon install ir">Install</span>Standard Istallation</li>
				<li><span class="icon training ir">Training</span>30 Day Training</li>
				<li><span class="icon training ir">Support</span>30 Day Email Support</li>
			</ul>
			<a class="btn" href="#standard">Learn More</a>
		</div>
		<div class="plan enterprise">
			<hgroup>
				<h1>Enterprise</h1>
				<h2>starting at $15,500</h2>
			</hgroup>
			<ul>
				<li><span class="icon install ir">Install</span>Enterprise Istallation<span class="details">Includes Clustering &amp; Fail-Over</span></li>
				<li><span class="icon training ir">Training</span>30 Day Training</li>
				<li><span class="icon training ir">Support</span>30 Day Email Support</li>
			</ul>
			<a class="btn" href="#enterprise">Learn More</a>
		</div>
	</div>		
</div>


<div class="col3">
	<article>
		<hgroup>
			<h1 class="installation">Installation</h3>
			<h2></h2>
		</hgroup>
		
		
		<section>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</section>
	<article>
</div>
	    	
<div class="col4" id="right-col">
	
</div>