<div class="col12">
	<h2 style="margin-bottom: 30px;">
		EnterMedia 15 Day Deployment - <span style="color: #6FB353; font-weight: normal;">$5500</span></h2>
</div>
<aside class="breakout">"Our faculty and students are very happy with our own YouTube! It's so easy to use it and completely browser based like YouTube. It empowers users to manage their digital assets for classes in the cloud. EnterMedia's support team is prompt to take care of issues and listen to our needs. Just tell them what you need, they will give you the solution!" Dr.Shouhong Zhang, Manager Instructional Design Services, South Dakota State University</aside>
	<section>
	<div class="row clearfix">
		<div class="col6 text">
				
				<h6>Welcome to EnterMedia 8</h6>
				<p>
					Installing EnterMedia is more than just running a script. There are many customizations and important decisions to be made along the way. EnterMedia's team of experts have the skills and experience to install and setup the software that will empower your organization in just 30 days. The potential of your website and resources of your users will be magnified exponentially by the power of a professional digital asset library, and the support of the people that created it. 
				</p>
				<h6>Phase 1 - Installation</h6>
				<p>
					A typical deployment starts with installation. Our experts will log into your server and set up all dependencies then follow up with the latest stable version of EnterMedia. Each aspect of the application will be tested and confirmed while our design team creates a skin that matches the current logo and colors on your site. Once the site has passed all checkpoints and the branding is complete the deployment will move onto phase two.  
				</p>
				<h6>Phase 2 -Training</h6>
				<p>
					In order to familiarize your team with the concepts and best practices of digital asset management, EnterMedia has put together a series of live training exercises. These sessions will help you define the fundamental aspects of asset organization, data labeling and user security. We will make sure that the basic skills are covered and that the advanced features are familiar territory. 
				</p>
				<h6>Phase 3 - Hand Off</h6>
				<p>
					Phase three will allow you to take the reigns through Q&amp;A and application customizations. We will help organize folder structure, decide on search enhancements and activate special features. Just in case any issues arise while EnterMedia is being form fitted to your specifications, our technical support team will be standing by ready to demonstrate how our bug tracking and issue resolution process works. 
				</p>
				<h6>Phase 4 - Launch</h6>
				<p>
					To conclude the month, EnterMedia will empower administrators with a security overhaul. Permissions will be strengthened or loosened on a case by case basis. Groups and roles will be set to permit and confine features to the appropriate parties, and live assets will populate the application. The final smoke test will be done and a status and sign-off report will be provided for your technical records.  At this point, your personalized version of EnterMedia, complete with proficient staff and starter assets, will be ready to go live.   
				</p>
			</div>

				<div class="col6">
			<div class="grey-box">
				<h6>Deployment Includes:</h6>
				<div class="hr" style="padding-bottom: 0;"></div>
				<ul style="padding-left: 25px;">
					<li>
						Installation and Setup of the EnterMedia web application on a single server 
					</li>
					<li>
						Installation and Setup of Tomcat web application on a single server
					</li>
					<li>
						Installation and Setup of FFmpeg on a single server
					</li>
					<li>
						Installation and Setup of ImageMagick on a single server 
					</li>
					<li>
						Installation and Setup of OpenOffice extension for Microsoft and other office program conversions
					</li>
					<li>
						Installation, Setup and Configuration of EnterMedia 8.0 standard features
					</li>
					<li>
						Enabling of EnterMedia Manager and EnterMedia Share applications
					</li>
					<li>
						Enabling of dynamic Permissions
					</li>
					<li>
						Enabling of Application Rules for general access requirements
					</li>
					<li>
						Branding of the EnterMedia installation with custom company logo and colors
					</li>
					<li>
						Providing of hand's on training throughout the deployment
					</li>
					<li>
						Providing of best practice techniques throughout the deployment
					</li>
					<li>
						Providing of final EnterMedia smoke test results and sign-off report at end of the implementation for technical records
					</li>
					<li>
						Setup of Test Users and an access check to the main application and profile features
					</li>
					<li>
						Setup of Test Groups and verification of Permissions and user compliance
					</li>
					<li>
						Setup of Test Roles and validation of advanced feature restriction and accessibility
					</li>
					
				</ul>
				<div class="hr" style="padding-bottom: 0;"></div>
				<div class="big-button">
					<p style="padding: 0 40px; margin-bottom: -10px;">Want to learn more about our consulting services or have a question about EnterMedia?</p>
					<a class="btn" href="/views/contact/index.html">Sign Up Now!</a>
				<p>
					Or call 1 (937) 671-6212</p>
			</div>
			
		</div>
		<div class="col6">
			&nbsp;</div>
	</div>
	</section>