<div class="col12">
	<a class="scrollto" name="top"></a> 
	<hgroup class="big-centered">
	<h1>
		Additional Service Levels</h1>
	<h2>
</h2>
	</hgroup>
	<div class="plans">
		<div class="plan mashup">
			<hgroup>
			<h1>
				Hourly</h1>
			<h2>
				A la carte</h2>
			</hgroup>
			<ul>
				<li>
					<span class="icon install ir">Install</span>Download Source Code</li>
				<li>
					<span class="icon training ir">Training</span>Community Forums</li>
			</ul>
			<a class="btn scrollto" href="#mashup">Learn More</a></div>
		<div class="plan standard">
			<hgroup>
			<h1>
			   80 Hour Block</h1>
			<h2>
				$15,800</h2>
			<h3>
				save 15% per hour</h3>
			</hgroup>
			<ul>
				<li>
					<span class="icon install ir">Install</span>Extensive Customization</li>
				<li>
					<span class="icon training ir">Training</span>Developer Training</li>
				<li>
					<span class="icon support ir">Support</span>Priority Email Support</li>
			</ul>
			<a class="btn scrollto" href="#standard">Learn More</a></div>
		<div class="plan enterprise">
			<hgroup>
			<h1>
				40 Hour Block</h1>
			<h2>
				$7,800</h2>
			<h3>
				save 10% per hour</h3>
			</hgroup>
			<ul>
				<li>
					<span class="icon install ir">Install</span>Enterprise Features<span class="details">w/ Clustering &amp; Fail-Over</span></li>
				<li>
					<span class="icon training ir">Training</span>Administrative Training</li>
				<li>
					<span class="icon support ir">Support</span>Priority Email Support</li>
			</ul>
			<a class="btn scrollto" href="#enterprise">Learn More</a></div>
	</div>
	<article> <hgroup>
	<h2>
		The Open Source Hourly Assistance</h2>
	</hgroup> <aside class="breakout"> There are many popular open source software programs on the market today. From OpenOffice, which is a strong replacement for Microsoft's Office suite, to Linux, a full blown operating system; open source is a fantastic alternative to propriety software. Having the source code freely available encourages collaboration and development among a greater population of software engineers. Ultimately this leads to a community of developers who can create a variety of applications based off the original code and extends the features of the original platform.  </aside> <section>
	<p>
		The implications of a community of developers working to enhance EnterMedia range from third party extensions to custom connectors from other systems. Propriety software, on the other hand, seems too restrictive with the end-users left waiting and hoping that their feature request will be addressed in upcoming releases. Having the source code openly available gives our clients more flexibility to design and implement a system that addresses their particular requirements.</p>
	<p>
		Entermedia's ten years experience developing digital asset management technologies, includes client feedback and the ablilty to take a more active role in development. </p>
	<p>
		&nbsp;</p>
	</section> <hgroup> <a class="scrollto" id="mashup" name="mashup"></a>
	<h2>
		Mash Up Installation</h2>
	</hgroup> <section style="margin-top: 15px;">
	<p>
		Our Mash Up installation is the perfect way for developers to access our source code, so they can see first hand the potential power of the EnterMedia digital asset management system. EnterMedia is open source so the code is freely available and we want to do our best to encourage development by interested parties.</p>
	<p>
		Check back soon for our new development forum, where you will be able to submit issues to the community and search previous postings that might address your same issue.</p>
	<p>
		In the meantime, visit our <a href="http://groups.google.com/group/entermedia?hl=en">Google Groups</a> page for technical support discussions about EnterMedia&#39;s nightly builds.</p>
	</section> <a class="scrollto" href="#top" style="text-align: right; display: block;">Back to Top</a> <hgroup> <a class="scrollto" name="standard"></a>
	<h2>
		Standard Installation</h2>
	</hgroup> 
	<section>
		<div class="row clearfix" style="margin-top: 15px;">
			<div class="col6">
				<p>
					The standard installation of EnterMedia is suited for companies who require a single server. For departments that require multiple nodes, check out our enterprise installation. The standard installation includes setting up the new system and importing your existing content, both delivered with hands on training during the process. Additional support can be scheduled should it be required in addition to the inclusive training.</p>
				<p>
					EnterMedia specialist will install and setup EnterMedia 8 along with Tomcat, OpenOffice extension for Microsoft formats, and FFmpeg, all on a single server. EnterMedia 8 includes three core applications that will be enabled on your server: Enterprise Media Library, EnterMedia Share, and EnterMedia Manager. Once your system is up and running technicians will link to your digital file hierarchy and import your existing metadata, groups, and users. Dynamic permissions will be enabled, and EnterMedia will be branded with your companies logo and colors.</p>
				<p>
					Finally, our trained specialists will make sure you have the knowledge to implement your new system with confidence. A final status and sign-off report at the end of installation will be provided for your technical records.</p>
			</div>
			<div class="col6">
					<h6>A professional EnterMedia consultant will work with you remotely to:</h6>
					<div class="install-list">
					<ul>
						<li><strong>Setup</strong> EnterMedia webapp on a single server with Entermedia Manager, Library and Share applications enabled</li>
						<li><strong>Setup</strong> Tomcat webapp on a single server.</li>
						<li><strong>Setup</strong> OpenOffice extension for Microsoft formats.</li>
						<li><strong>Setup</strong> FFmpeg on a single server.</li>
						<li><strong>Setup</strong> and configure EnterMedia 8.0 features.</li>
						<li><strong>Link</strong> to digital file hierarchy.</li>
						<li><strong>Import</strong> Metadata.</li>
						<li><strong>Import</strong> Groups and Users.</li>
						<li><strong>Enable</strong> dynamic permissions.</li>
						<li><strong>Brand</strong> your EnterMedia installation with your organizations logo and colors.</li>
						<li><strong>Provide</strong> Hand's on training and best practices advice throughout installation.</li>
						<li><strong>Provide</strong> EnterMedia status and sign-off report at end of installation for your technical records.</li>
						<li><strong>Be There</strong> Should you need continued support or training after installation, Entermedia provides additional training and server support on an hourly basis or discounted prepaid packages.</li>
					</ul>
				</div>
			</div>
		</div>
	</section> <a class="scrollto" href="#top" style="text-align: right; display: block;">Back to Top</a> 
	<hgroup> <a class="scrollto" name="enterprise"></a>
	<h2>
		Enterprise Installation</h2>
	</hgroup> 
	<section>
		<div class="row clearfix" style="margin-top: 15px;">
			<div class="col6">
				<p>
					The enterprise installation of EnterMedia is design for departments that require multiple nodes with fail-over and scalable search capabilities. Installation includes setting up the new system and importing your existing content. More importantly our enterprise clients are carefully guided through the process by our technicians. If you require additional help in the future EnterMedia offers discounted packages for extended support.</p>
				<p>
					Our specialist will install and setup EnterMedia 8 with Tomcat, OpenOffice extension for Microsoft format, FFmpeg, and ElasticSearch on multiple (up to 3) nodes to form your computing cluster. EnterMedia 8 includes three core applications that will be enabled: Enterprise Media Library, EnterMedia Share, and EnterMedia Manager. Once your system is up and running technicians will link to your digital file hierarchy and import your existing metadata, groups, and users. Dynamic permissions will be enabled, and EnterMedia will be branded with your companies logo and colors.</p>
				<p>
					Before we make the final hand-off, our trained specialists will make sure you have the knowledge to implement your new system with confidence. A final status and sign-off report at the end of installation will be provided for your technical records.</p>
			</div>
			<div class="col6">
				<h6>A professional EnterMedia consultant will work with you remotely to:</h6>
				<div class="install-list">
					<ul>
						<li><strong>Setup</strong> EnterMedia webapp on a maximum of three nodes with Entermedia Manager, Library and Share applications enabled</li>
						<li><strong>Setup</strong> Tomcat webapp on a maximum of three nodes.</li>
						<li><strong>Setup</strong> OpenOffice extension for Microsoft formats.</li>
						<li><strong>Setup</strong> FFmpeg on a maximum of three nodes.</li>
						<li><strong>Setup</strong> elasticsearch index on a maximum of three nodes for server clustering, fail-over and distributed computing</li>
						<li><strong>Setup</strong> and configure EnterMedia 8.0 features.</li>
						<li><strong>Link</strong> to digital file hierarchy.</li>
						<li><strong>Import</strong> Metadata.</li>
						<li><strong>Import</strong> Groups and Users.</li>
						<li><strong>Enable</strong> dynamic permissions.</li>
						<li><strong>Brand</strong> your EnterMedia install with your organizations logo and colors.</li>
						<li><strong>Provide</strong> Hand's on training and best practices advice throughout installation.</li>
						<li><strong>Provide</strong> EnterMedia status and sign-off report at end of installation for your technical records.</li>
						<li><strong>Be There</strong> Should you need continued support or training after installation, EnterMedia offers annual support and training hourly and discounted pre-paid packages.</li>
					</ul>
				</div>
			</div>
		</div>
	</section> <a class="scrollto" href="#top" style="text-align: right; display: block;">Back to Top</a> </article></div>
