<div class="col8" id="left-col">
	    		<article>
		    		<h2>Feeling brave?</h2>
		    		<aside class="breakout">
		    			<strong>Download EnterMedia</strong> and begin your journey into the open source universe. 
		    			A library of your media on your terms is just a few clicks away.
		    		</aside>
		    		<p>
		    			Just unzip the <strong>ROOT.war</strong> within your Java web server webapps directory. After deployment, your application is ready for use and customization. 
		    			Pretty colors, flashy formats, and intuitive data arrangement are only limited to your imagination. Feel free to edit, arrange and organize your 
		    			assets like the brave pioneer that you are.
		    		</p>
		    		<h5>Prefer a guide?</h5>
					<p>
					Send up a <a href="/views/contact/index.html">smoke signal</a> and we'll arrange a demo. Our team will walk you through the features and settings 
					of our creation. Our model is flexible so you can direct the agenda and stick to what is relevant to your needs. 
					</p>
					<p>
					We have provided solutions for 
					educational institutions, business environments, and entertainment empires. Your success is our success and we'll make sure that you're ready to 
					ride before we take the training wheels away.
					</p>
		    	<article>
	    	</div>
	    	<div class="col4" id="right-col">
	    		<img style="margin-bottom: 15px;" src="$home$themeprefix/images/contact-icon.png" />
	    		<p class="sidebar-block download">
	    			<strong>EnterMedia 8.0:</strong><br />
	    			<a href="http://dev.entermediasoftware.com/jenkins/job/entermedia-server/1741/artifact/deploy/ROOT.war">Stable Release</a><br />
	    		</p>
	    		<p class="sidebar-block download">
	    			<strong>EnterMedia 8.1 (Beta):</strong><br />
	    			<a href="http://dev.entermediasoftware.com/jenkins/job/entermedia-server/lastSuccessfulBuild/artifact/deploy/ROOT.war">Nighly Build</a><br />
	    		</p>
	    		<p class="sidebar-block download">
	    			<strong>EnterMedia 7.5 (Legacy):</strong><br />
	    			<a href="http://dev.entermediasoftware.com/projects/entermedia-server/ROOT.war">Stable Release</a><br />
	    		</p>
	    	</div>