<div class="clearfix">
<div class="col8" id="left-col">
	<article>
	<h2>
		EnterMedia 8 Source Repository</h2>
	<aside class="breakout"> <strong>Download EnterMedia 8</strong> and begin the journey into the open source universe. A specialized media library is just a few clicks away. </aside>
	<h3>Feeling Brave?</h3>
	<p>
		Just run the appropriate installer, then unzip the <code>ROOT.war</code> within your Java web server webapps directory. After deployment, your application is ready for use and customization. Pretty colors, flashy formats, and intuitive data arrangements are limited only by your imagination. Feel free to edit, arrange and organize your assets like the courageous pioneer that you are. 
	</p>
	<h3>Prefer a guide?</h3>
	<p>
		Send up a <a href="/views/contact">smoke signal</a> and we'll arrange a demo. EnterMedia offers professional installation services. Our team will walk you through the features, settings and best practices of EnterMedia. Our training model is flexible so you can direct the agenda and stick to what is relevant to your needs. We have provided custom solutions for educational institutions, business environments, non-profits and entertainment empires. Your success is our success, and we will make sure that you're ready to ride before we take the training wheels away. 
	</p>
	<h3>Evaluating EnterMedia</h3>
	<p>
		Due to popular demand, EnterMedia has streamlined the way potential customers and open source collaborators can test our DAM software for themselves. The VirtualBox installer is a prepackaged version of the latest stable release (8.5.2), complete with assets, metadata and a few other out of the box samples. Download the appropriate VirtualBox for your OS, import our image and see how easy digital asset management can be. 
	</p>
	<h3>Why Open Source?</h3>
	<p>
		Having the source code freely available encourages collaboration and development among a greater population of software engineers. Ultimately this leads to a community of developers who can create a variety of applications based off the original code and extends the features of the original platform.
	</p>
	<p>
		The implications of a community of developers working to enhance EnterMedia range from third party extensions to custom connectors from other systems. Propriety software, on the other hand, seems too restrictive with the end-users left waiting and hoping that their feature request will be addressed in upcoming releases. Having the source code openly available gives our clients more flexibility to design and implement a system that addresses their particular requirements.
	</p>

	</article></div>
<div class="col4" id="right-col">
	<img src="$home$themeprefix/images/contact-icon.png" style="margin-bottom: 15px;" />


<div class="clearfix">
<div class="col8" id="left-col">
	<article>
	<h3>
		Java Source Code</h3>	
	<p>Ready to be run within Eclipse</p>
	</article></div>
	<div class="col4" id="right-col">
	<p class="sidebar-block download">
	<strong>EnterMedia 8.0:</strong><br />
	<a href="./checkout.sh">Git Checkout Script</a></p>	
	</p>
	</div>

	<h6>Linux</h6>
	<div class="hr" style="padding-bottom: 0;"></div>
	<p class="sidebar-block download">
		<strong>CentOS 6.3 64bit installer:</strong><br />
		<a href="/views/download/installers/centos/centos_x64_entermedia.tgz">centos_x64_entermedia.tgz</a>
		<a href="git://dev.entermediasoftware.com/installer_centos.git">CentOS 6.3 Git repository installer</a>
	</p>

	<h6>Virtual Machine</h6>
	<div class="hr" style="padding-bottom: 0;"></div>
	<p class="sidebar-block download">
		<strong>CentOS 6.3 64bit Virtual Box:</strong><br />
		<a href="/views/download/installers/centos/CenOS_6.3x64_Headless_EnterMedia.ova">CenOS_6.3x64_Headless_EnterMedia.ova 500M</a>
	</p>
	</div>


	<h6>WAR Files</h6>
	<div class="hr" style="padding-bottom: 0;"></div>
	<p class="sidebar-block download">
		<strong>EnterMedia 8.3.x:</strong><br />
		<a href="http://dev.entermediasoftware.com/jenkins/view/Dev/job/demoall/lastSuccessfulBuild/artifact/deploy/ROOT.war">Stable Release</a></p>

	<p class="sidebar-block download">
		<strong>EnterMedia 8.x (Beta):</strong><br />
		<a href="http://dev.entermediasoftware.com/jenkins/view/Demo/job/dev_demoall/lastSuccessfulBuild/artifact/deploy/ROOT.war">Nightly Build</a></p>
	</div>


</div>
</div>


