<div class="col8" id="left-col">
	<article>
	<h2>
		Be Brave.</h2>
	<aside class="breakout"> <strong>Download EnterMedia</strong> and begin the journey into the open source universe.&nbsp;A specialized media library is just a few clicks away. </aside>
	<p>
		Unzip the <code>ROOT.war</code> within the Java web server webapps directory. After deployment, the application is ready for use and customization. Edit, arrange and organize assets bravely and with confidence.</p>
	<p>
		Having the source code freely available encourages collaboration and development among a greater population of software engineers. Ultimately this leads to a community of developers who can create a variety of applications based off the original code and extends the features of the original platform.</p>
	<p>
		The implications of a community of developers working to enhance EnterMedia range from third party extensions to custom connectors from other systems. Propriety software, on the other hand, seems too restrictive with the end-users left waiting and hoping that their feature request will be addressed in upcoming releases. Having the source code openly available gives our clients more flexibility to design and implement a system that addresses their particular requirements.</p>
	<p>
		Entermedia's ten years experience developing digital asset management technologies, includes client feedback and the ablilty to take a more active role in development. </p>
	<p>
		&nbsp;</p>
	<article> </article></article></div>
<div class="col4" id="right-col">
	<img src="$home$themeprefix/images/contact-icon.png" style="margin-bottom: 15px;" />
	<p class="sidebar-block download">
		<strong>EnterMedia 8.0:</strong><br />
		<a href="http://dev.entermediasoftware.com/jenkins/job/entermedia-server/1741/artifact/deploy/ROOT.war">Stable Release</a></p>
	<p class="sidebar-block download">
		<strong>EnterMedia 8.1 (Beta):</strong><br />
		<a href="http://dev.entermediasoftware.com/jenkins/job/entermedia-server/lastSuccessfulBuild/artifact/deploy/ROOT.war">Nighly Build</a></p>
	<p class="sidebar-block download">
		<strong>EnterMedia 7.5 (Legacy):</strong><br />
		<a href="http://dev.entermediasoftware.com/projects/entermedia-server/ROOT.war">Stable Release</a></p>
</div>

<div class="col8" id="left-col">
	<article>
	<h2>
		Server Setup Script.</h2>
		<p>&nbsp;</p>
		<p>EnterMedia is a cross platform server. Regardless of the operating system you are using EnterMedia requires some libraries be available. Run these scripts only if you are an administrator and are familiar with server maintenance.</p>
	<article> </article></article></div>
<div class="col4" id="right-col">
	<p class="sidebar-block download">
		<strong>EnterMedia 8.0:</strong><br />
		<a href="./install.sh">Debian Install Script</a></p>
<!--
	<p class="sidebar-block download">
		<strong>EnterMedia 8.0:</strong><br />
		<a href="./install.sh">Apple Installation Instructions</a></p>

	<p class="sidebar-block download">
		<strong>EnterMedia 8.0:</strong><br />
		<a href="./bin.zip">Windows Installation Instructions</a></p>
-->
</div>

<div class="col8" id="left-col">
	<article>
	<h2>
		Java Source Code</h2>	
	<p>Ready to be run within Eclipse</p>
	<article> </article></article></div>
<div class="col4" id="right-col">
	<p class="sidebar-block download">
		<strong>EnterMedia 8.0:</strong><br />
		<a href="./checkout.sh">GIT Checkout Script</a></p>	
	</p>
</div>

